
@mixin borderSpace {
    border-spacing: 14px 6px;
}

@mixin gridDemos {
    @extend %borderShadow;
    font-size: 13px;
    padding: 20px 30px 30px 30px;
    line-height: 15px;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 5px;

    br {
        display: none;
    }
    img {
        align-self: center;
        margin-bottom: 20px;
    }
    > p span.red_txt2 {
        @include salePrice;
    }
    
    > div.padding_top10 {
        padding-top: 17px;
    }
    > p.padding_top10 {
        margin-top: auto;
    }
    strong {
        font-family: $bold-monts;
        font-size: 17px;
        margin-bottom: 5px;
        line-height: 19px;
    }
    .buttonBgorder {
        width: 100%;
    }
}
@mixin demoDescription {
    width: 85%;
    margin: 0 auto;
}

[name="exForm"] #lineno0 ~ table {
    @include borderSpace;
    tr {
        display: flex;
        justify-content: space-between;
        td.td_bot_border {
            @include gridDemos;
        }  
    }      
}