.cod_text {
    font-family: $bold-monts;
    font-weight: bold;
    color: #bc18ad;
    font-size: 23px !important;
}
.pymnt_label {
    display: inline-block;
    //font-size: 12px;
    //background-color: #c6057d1a;
    padding: 2px 5px;
    margin: 10px 0;
    //color: #333;
    text-shadow: 1px 1px 0px white;
    font-family: $bold-monts;
}

.bankrefnumber_text {
    font-weight: lighter;
    color: $color-text;
    font-size: 15px;
    text-align: left;
    line-height: 1.4;
    font-variant: small-caps;
}
.pymntBtnDisable {
    @include av-button-primary;
    opacity: 0.5;
    cursor:not-allowed;
    width: 200px;
}
.pymtBtnDisableMsg {
    font-size: 15px;
    font-weight: normal;
    font-family: $regular-monts;
    color: $color-secondary;
    background-color: $color-white !important;
    text-shadow: none;
    outline: medium none !important;
    padding: 10px 0px;
}
.instant_buttonBgorder, .instant_buttonBgoffer {
    @include av-button-secondary;
    padding:  10px 20px;
    font-size: 14px;
    width: 100%;
}
#count {
	font-size: 14px;
	color: $color-secondary;
    font-family: $bold-monts;
}
.pup_info {
    padding: 30px;
    background-color: #BAE1E9;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.overBookedRepText,.segmentBlckedRepText {
    padding: 0px 40px;
}
td.tbl_bgright3 {
    height: 20px;
}
.puplink {
    @include av-link;
}
.instant_slot_SrtDesc {
    font-size: 12px;
    line-height: 15px;
}
// .tbl_bannerorder {
//     background-color: $color-light-white;
//     box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
//     padding: 8px;
// }
// .alert {
//     color: #969696;
//     font-weight: normal;
//     text-decoration: none;
//     font-size: 11px;
//     font-family: Arial;
//     line-height: 14px;
// }
.alert1 {
    td {
        font-size: 11px;
    }
    tr:first-child td {
        font-family: $bold-monts;
    }   
}
#accountBalanceForm {
    [style*="border-radius"]{
        border: none !important;
        border-radius: 0px !important;
        padding: 0px !important;
    }
    table.body {
        width: 100%;
    }
}
td:first-child > table {
    > tbody > tr > td > div > div > [name="dashboardInformationForm"] {
        display: flex;
    }
} 
[name="dashboardInformationForm"] {
    > table > tbody {
        text-align: left;
        table.tableBg1{
            width: 200px;
            td, a {
                font-size: 13px;
            }
        }
    }
} 