
/*------- Popup 2020 ------*/
[name="addDemoForm"],
[name="addOffersForm"],
[name="addeditform"] {
    padding: 0 30px;
}
[name="addeditform"] {
    .padding_10 {
        padding: 5px 0px;
    }
    input[type="text"] {
        max-width: 250px;
    }
} 
[name="addDemoForm"] [nowrap="nowrap"] > img {
    width: 110px;
}
[name="addeditform"] .tbl_header.tbl_bgmid3,
.pop_main_header_txt {
    @include modal-title;
}

#displayCategoryForm table[width="85%"]{
    width: 100%;
}


.misprint_header, #popup_title {
    @include modal-title;
}
.misprint_table, #popup_message{
    @include text-system;
}
.misprint_outer_table {
    @include av-table-primary();
    tbody tr:first-child {
        color: #FFF;
        background-color: #ff0088;
        td {
            border-left: 1px solid #FFF;
            padding: 5px;
        }
    }
}
#popup_ok {
    @include av-button-secondary;
}