
ul.breadcrumb_line li a {
    @include av-button-secondary;
}
ul.breadcrumb_line li.active a {
    @include av-button-tertiary;
}
.buttonBg {
    @include av-button-secondary;
}

.buttonBgpink {
    @include av-button-tertiary;
}
a.ord_link {
    @include av-button-tertiary;
}
.view a, .view_order a {
    @include av-link;
}
.tbl_header > a {
    @include av-link;
}
.contentbackgroundcolor {
    padding: 0px 10px;
}

.contentbackgroundcolor td.tbl_bgmid3 {
    @include subtitle(25px,left);
    white-space: nowrap
}
.contentbackgroundcolor table[width="745px"] {
    width: 100%;
}
.order_method_campaign {
    @include subtitle(25px,left);
    padding: 36px 40px;
}

/*by GErber Barillas 12 enero 2021*/
.sub_heading1{
    @include subtitle(20px,left);
}
td input.buttonBgorder{
    @include av-button-secondary;
    padding: 13px 30%;
}


td.td_bot_border > p, td.td_bot_border > div {
    @include text-system($regular-monts);
}

td.td_bot_border > p, td.td_bot_border > div p{
    width: 80%;
}


[name="exForm"] td.td_bot_border > div:first-of-type{
    @include demoDescription;
}

[name="exForm"] td.td_bot_border > div:nth-of-type(2) > span{
    @include l-Price;
}
[name="exForm"] td.td_bot_border > p > strong > span.red_txt2 {
    @include SalePrice;
}

[name="exForm"] table tr td table tr td table:nth-of-type(2),
[name="exForm"] table tr td table tr td table:nth-of-type(3),
[name="exForm"] table tr td table tr td table:nth-of-type(4),
[name="exForm"] table tr td table tr td table:nth-of-type(5),
[name="exForm"] table tr td table tr td table:nth-of-type(6),
[name="exForm"] table tr td table tr td table:nth-of-type(7),
[name="exForm"] table tr td table tr td table:nth-of-type(8),
[name="exForm"] table tr td table tr td table:nth-of-type(9),
[name="exForm"] table tr td table tr td table:nth-of-type(10){
    @include borderSpace;
}

[name="exForm"] table tr td table tr td table:nth-of-type(2) tr td,
[name="exForm"] table tr td table tr td table:nth-of-type(3) tr td,
[name="exForm"] table tr td table tr td table:nth-of-type(4) tr td,
[name="exForm"] table tr td table tr td table:nth-of-type(5) tr td,
[name="exForm"] table tr td table tr td table:nth-of-type(6) tr td,
[name="exForm"] table tr td table tr td table:nth-of-type(7) tr td,
[name="exForm"] table tr td table tr td table:nth-of-type(8) tr td,
[name="exForm"] table tr td table tr td table:nth-of-type(9) tr td,
[name="exForm"] table tr td table tr td table:nth-of-type(10) tr td{
    @include gridDemos;
}

.td_bot_border p {
    @include text-system($regular-monts);
}

[name="newIooffersForm"] table tr td table tr td,
[name="newIooffersForm"] table tr td table tr td img {
    @include step3;
}




/*by GErber Barillas 12 enero 2021*/


.font_12, .tbl_orderpack td, .font_bold {
    @include text-system($regular-monts)
}
td.tbl_header, .saved_customer_name, td h2 {
    @include text-system($bold-monts)
}

.tbl_header_big {
    @include subtitle(25px,left);
    padding: 10px 0px;
}
.tbl_lineentry, .bg_fff9f9 {
    @include av-table-dark;
}

table .bg_f2f2f2 {
    // padding: 40px 0px;
    // border-top: 1px solid $color-dark;
}

.pop_main_header_txt {
    @include modal-title;
}

.success{
    @include alert-succes;
}
.error{
    @include alert-warning;
}