ul.breadcrumb_line li a {
    @include av-button-secondary;
}
ul.breadcrumb_line li.active a {
    @include av-button-tertiary;
}
.buttonBg {
    @include av-button-secondary;
}
.buttonBgpink {
    @include av-button-tertiary;
}
a.ord_link {
    @include av-button-tertiary;
}
.view a {
    @include av-link;
}

.contentbackgroundcolor {
    padding: 0px 20px;
}


.contentbackgroundcolor td.tbl_bgmid3 {
    @include subtitle(25px);
    text-align: left;
    margin-bottom: 0;
}
.order_method_campaign {
    @include subtitle(25px);
    text-align: left;
    padding: 36px 40px;
}
td.tbl_header{
    @include text-mixin($bold-monts)
}
td.tbl_bgmid2 {
    @include subtitle(25px);
    text-align: left;
    margin-bottom: 0;
}
.tbl_lineentry, .bg_fff9f9 {
    @include av-table;
}
