ul.breadcrumb_line li a {
    @include av-button-secondary;
}
ul.breadcrumb_line li.active a {
    @include av-button-tertiary;
}
.buttonBg {
    @include av-button-secondary;
}
.buttonBgpink {
    @include av-button-tertiary;
}
a.ord_link {
    @include av-button-tertiary;
}
.view a {
    @include av-link;
}

.contentbackgroundcolor {
    padding: 0px 20px;
}

.contentbackgroundcolor td.tbl_bgmid3 {
    @include subtitle(25px,left);
    white-space: nowrap
}
.contentbackgroundcolor table[width="745px"] {
    width: 100%;
}
.order_method_campaign {
    @include subtitle(25px,left);
    padding: 36px 40px;
}
/*by GErber Barillas 12 enero 2021*/
.sub_heading1{
    @include subtitle(20px,left);
}
td input.buttonBgorder{
    @include av-button-secondary;
}
/*by GErber Barillas 12 enero 2021*/
td.tbl_header, .saved_customer_name{
    @include text-system($bold-monts)
}
.font_bold {
    @include text-system($regular-monts);
}
.tbl_header_big {
    @include subtitle(25px,left);
    padding: 10px 0px;
}
.tbl_lineentry, .bg_fff9f9 {
    @include av-table-dark;
}


