// CAM STYLES FIX
#dashboardFrame {
    width: 100% !important;
    @media (min-width:$media-2){
        width: 900px !important;
    }
}
[name="dashboardInformationForm"] td[nowrap=""]{
    white-space: normal !important;
}
/*------- HEADER FIX 2020 ------*/


%toplink {
    color: $color-text;
	font-weight: normal;
	text-decoration: none;
    font-size: 11px;
    cursor: pointer;
    padding: 0 7px;
    + .spacer {
        font-size: 0;
    }
}
.topLinks {
    @extend %toplink;
    font-family:  $regular-monts;
}
.topLinksBold {
    @extend %toplink;
    font-family:  $bold-monts;
}
.accName_Text,
.ord_gray_txt {
    @include text-system($bold-monts);
    padding-left: 72px;
    text-transform: uppercase;
    text-align: left;
}
td .pink30_txt, .campaign_All{
    font-size: 30px;
    color:$color-secondary;
    font-family: $bold-monts;
}
.articleHeader {
    width: 100%;
    height: auto;
    @include title;
    
    > img {
        @include img-full-screen();
    }
}

table.border_rightstyle.bg1_f2f0f0{
    padding: 20px 45px;
}



.tbl_orderpack > tbody > tr:nth-child(6) table {
    border-spacing: 0px 5px;
    tr:first-child > td {
        @include text-system($bold-monts);
        background-color: $color-dark-lighter;
        padding: 10px;
        text-align: left;
    }
    tr td:nth-child(3){
        padding: 0px 20px;
    }
}

/*------- STEP 0 2020 ------*/

div#campaignSelect table tbody tr td .padding_left20.blk_main_heading24 {
    padding-left: 0 !important;
    img {
        @include img-full-screen;
    }
    
}
.table_bg {
    box-shadow: $color-shadow-border;
    width: 100%;
}
.td_subheader_bg {
    text-align: left;
    .sub_heading2 {
        border-bottom: 1px solid $color-secondary;
        text-align: left;
        padding: 5px 10px;
        display: block;
    }
}
.place_an_order_tbl2 {
    box-shadow: $color-shadow-border;
    border-spacing: 7px 0px;
    background-color: $color-light-white;
    margin-bottom: 20px;

    .tdcell_R.border_top_white > table > tbody {
        display: flex;
        align-items: center;
        label strong {
            white-space: nowrap;
        }
    }
    label {
        @include text-system($bold-monts);
    }
}

/*------- PLACE N ORDER PADDING 2020 ------*/

.tbl_bgpink,
[name="frmPreviewOrder"],
[name="frmDemoBrochure"],
[name="exForm"],
[name="frmSummary"],
[name="frmConfirm"],
#frmCreateOrder,
#newIooffersForm,
#clearanceoffersForm,
#returnForm,
#aaa.bor_outer,
.contentbackgroundcolor table[width="745px"]:not(.bor_outer) {
    padding: 0px 30px;
    box-sizing: border-box;
    width: 100%;
    @media (min-width:$media-3) {
        padding: 0px 50px;
    }
}
#frmSelectCampaign {
    padding: 0px 30px;
}

.order_method_campaign + [width="55%"],
.view ~ td:nth-child(4),
.view_order ~ td:nth-child(4),
tr.rightalign > td[valign="top"],
tr[align="right"] > td[valign="top"] {
    padding-right: 30px;
    @media (min-width:$media-3) {
        padding-right: 50px;
    }
}
[name="frmSummary"] > table:last-child {
    display: flex;
    justify-content: flex-end;
    
    .buttonBgpink {
        @include av-button-secondary;
    } 
    .bodyR {
        color: $color-white;
        padding: 10px;
        background-color: $color-dark-lighter;
    }
}


/*------- CREATE ORDER TABLES 2020 ------*/

.breadcrumb_line {
    display: flex;
    > li {
        margin-right: 10px;
        list-style-type:none;
    }
}
#frmCreateOrder > table {
    > tbody > tr > td > table[width="751"] {
        display: block;
        width: 100%;
        > tbody > tr > td:first-child img {
            @include img-full-screen;
        }
        img[width="361"] {
            width: 0px;
        }
    }
    .div_table, .div_fst_ordrtable {
        table.body, table.tbl_lineentry {
            > tbody {
                > tr {
                    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
                    height: 55px;
                    background-color: $color-white;
                    
                }
            } 
        }
    }
    .div_fst_ordrtable table.tbl_lineentry > tbody > tr {
        > td:nth-child(5), > td:nth-child(6), > td:nth-child(7), > td:nth-child(8){
            background-color: $color-light-white;
        }
    } 
    > tbody > tr.tbl_header > .tbl_bgmid2 .tbl_header table {
        width: 100%;
    } 
    .tbl_outerline > tbody > tr:last-child tr {
        display: flex;
    } 
}

/*------- SAVED ORDER TABLE 2020 ------*/

#divOuter_1 + table.alt_rows {
    margin: 50px 0px 25px 0px;  
    .bg_fff9f9 {
        @include av-table($color-dark-light,$color-text);
        box-shadow: $color-shadow-border;
    }
    .openclose a {
        @include av-link;
        white-space: nowrap;
    }
}

.border_left.border_right[style="border-bottom:1px solid #E1DFDF"] {
    border-bottom: none !important;
    margin-bottom: 55px;
}

/*------- PLACE N ORDER COUNTER 2020 ------*/

table.order_table {
    box-shadow: $color-shadow-border;
    text-align: right;
    width: 280px;
    @media (min-width:$media-3){
        width: 350px;
    }
    @media (min-width:$media-4){
        width: 400px;
    }
    > tbody {
        
        > tr:nth-child(1) td {
            font-size: 13px;
            padding: 6px 30px;
            font-family: $bold-monts;
            color: $color-white;
            background-image: $color-gradient;
        }
        .bg_lightpinkheader, .bg_lightpink,.bg_lightpinklast {
            font-size: 12px;
            padding-top: 2px;
            background-color: $color-light-white;
         }
    }
}


/*------- BROSURA 2020 ------*/

.contentbackgroundcolor table[width="745px"]:not(.bor_outer) {
    margin: 50px 0px;
}
.contentbackgroundcolor table[width="745px"].bor_outer {
    width: 100%;
    border-spacing: 20px 0px;
    > tbody > tr > td {
        vertical-align: top;
        &:first-child > table {
            min-height: 290px;
            border-spacing: 0px 15px;
            > tbody > tr {
                box-shadow: $color-shadow-border;
                > td {
                    padding: 10px 40px;
                }
                .border_bottomd7d1d1 {
                    > table {
                        width: 100%;

                        td {
                            text-align: right;
                            @include text-system($bold-monts);
                            color: $color-secondary;
                        }
                        div[align="center"] {
                            text-align: left;
                            @include text-system($bold-monts);
                        }
                    }
                }
            }
        }
        &:last-child {
            .tbl_orderpack > tbody {
                display: flex;
                flex-direction: column-reverse;
                .bg_cecdcd {
                    display: block;
                    h3 {
                        padding: 0px 10px;
                        text-align: center;
                    }
                }
                img[src^="static/images/offerImages"]{
                    @include img-full-screen;
                }
                
            }
        }

    }
    
}

#searchForm p.button {
    text-align: center;
}

/*------- QUICK ORDER 2020 ------*/

.copyTextbox {
    width: 100%;
    display: block;
}
.copyImage {
    width: 100%;
    display: block;
    text-align: right;
}

/*------- Ebrochure 2020 ------*/

[onclick="winClose=false;"] > table {
    width: 100%;
}
/*------- LOGIN 2020 ------*/

[background="static/images/es_logo1.jpg"] {
    background-image: none !important;
}

/*------- MODAL 2020 ------*/
[name="addDemoForm"], [name="addOffersForm"], [name="addeditform"] {
    padding: 0 30px;
}
[name="addeditform"] > table {
    display: block;
    width: 100%;
}
#displayCategoryForm table[width="85%"]{
    width: 100%;
}
[src="static/images/headers/es_blue_divider770.jpg"] {
    width: 0px;
}
/*------- TABLAS 2020 ------*/

.div_table {
    .tbl_outerline {
        box-shadow: none;
        
        .bg_f5f3f4 {
            background-color: $color-dark-lighter;
            height: 40px;
        }
        .bg_e8e4e3 {
            height: 40px;
        }
    }
}

/*------- TABS 2020 ------*/

table.border_rightstyle td.padding_3 {
    color: $color-text;
    background-color: #ffff;
    text-align: center;
    width: 15%;
	border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer; 

    &:hover {
        background-color: #f8f8f8;
    }
    &.active {
        border-bottom: 5px solid $color-primary;
    }
}


td.padding_3.active a, td.padding_3 a {
    width: 100%;
	padding: 15px 0;
	font-family: $regular-monts;
}


td.bg2_f2f0f0.padding_3.active1 {
    border-bottom: 5px solid $color-primary;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
}
.bg_f2f0f0 td.active a, .bg1_f2f0f0 a, .bg_f2f0f0 a {
    color: $color-text;
    font-family: $regular-monts;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    line-height: 15px;
    display: block;
}

.margin_top10{
    margin: 20px;
}

/*------- CLEARANCE OFFERS 2020 ------*/

#clearanceoffersForm {
    .Io_table_header_bg img {
        @include img-full-screen;
     }
     #displayArea1 > table{
        border: none !important;
        border-spacing: 15px 8px;
        > tbody > tr:nth-child(odd) > td[height="50%"] {
            @extend %borderShadow;
            padding: 20px 10px;
            
            > table {
                border-spacing: 10px 0px;
                div.offers_description {
                    width: 80%;
                    overflow: hidden;
                    margin-bottom: 5px;
                }
            }
        }
        
    }
} 

/*------- CLEARANCE OFFERS MODAL 2020 ------*/

[name="addOffersForm"] .paddingleft_15 {
    padding-left: 0px;
    table.tbl_orderpack table {
        width: 100%;
    }
    
    table.tbl_orderpack > tbody {
        > tr:nth-last-child(3) {
            font-family: $semi-bold-monts;
            background-color: $color-dark-lighter;
        }
        > tr:nth-last-child(7) td:last-child{
            font-family: $semi-bold-monts;
            padding: 10px 30px;
        }
        .scroll_promo {
            min-height: 100px;
            td {
                text-align: left !important;
            }
        }
    } 
}

.tbl_bgleft3 {
    width: 0px;
}

/*------- SUBTOTAL 2020 ------*/

td .font_bold.font_14.txt_fff {
    @include subtitle(25px,center);
    color: $color-secondary;
    line-height: 29px;
    padding-left: 70px;
    background-color:$color-white;
    display: table-cell;
    ~ td.padding_10 {
        padding-right: 70px;
    }
}
.body {
    > img[src="/REPSuite/static/images/iom/banner_subtotal_text.gif"] {
        @include img-full-screen
    }
    em {
        padding-left: 70px;
        color: $color-secondary;       
    }
} 

/*------- SUBTOTAL 2020 ------*/

.tableBorder [bgcolor="#EDEEEF"] {
    background-color: transparent;
}
[name="frmConfirm"] [src="static/images/article_content/es_headIMG.jpg"]{
    width: 342px;
    height: auto;
    margin-top: 30px;
}
.bg_f4f1f1 {
    padding: 10px;
    background-image: $color-gradient;
    td {
        color: $color-white !important;
    }
}
.padding5.font_12 {
    [src="/REPSuite/static/images/iom/confirmation_order_image.jpg"] {
        position: relative;
        top: -80px;
    }
}
[src*="blue_divider"] {
    display: none;
}
[valign="bottom"] > .alt_rows .tbl_bgmid3.tbl_header_big {
    padding: 0 80px;
}

td.leftalign {
    > table.bor_outer {
        &:not(.padding10) {
            padding: 0 80px;
            display: block;
            .border_right {
                padding-right: 60px;
                border-right: 1px solid;
                width: 500px;
            }
            .padding_left20 {
                padding-left: 60px;
            }
            
        }
        &.padding10 {
            padding: 0 50px;
            display: block;
            .leftalign {
                width: 100%
            }
        }
    }
    
} 
.orderbrochure_content {
    @include subtitle(20px,left);
}
.tbl_bgleft3 + .tbl_bgmid3.tbl_header_big > font {
    padding: 0 80px;
}
table.bor_outer > tbody > tr > td > table.padding_left20 > tbody > tr[valign="top"] > td > table > tbody > tr > td > table {
    padding: 0 80px;
    width: 100%;
    display: block;
}

/*------- CAMBIOS 2020 ------*/
#replacementsTbl {
    img[border="1"]{
        border: none !important;
    }
}
#aaa.bor_outer {
    + #replacementsTbl.bor_outer {
        width: 90%;
        margin: 0 auto;   
    }
    
}
.content [src="/REPSuite/static/images/iom/banner_top_returns.jpg"] {
    @include img-full-screen;
}
[src="/REPSuite/static/images/iom/returns_subtitle.jpg"] {
    margin: 40px 0px;
}
.bg_efedee.padding_top10.padding_bottom10 {
    table {
        width: 100%;
        img {
            @include img-full-screen;
            width: 90%;
        }
    }
}
.bg_f5f3f4 {
    background-color: $color-light-white;
}

#returnForm > table > tbody > tr > td > table > tbody > tr > td {
    @include av-table;
}

#folletos_virtuales_1 {
    @include img-full-screen;
}
#orderTrackingForm table {
        width: 100%;
} 
#profilePersonalForm {
    .tableBg1 {
        background-color: $color-light-white;
        padding: 15px;
    }
    
}

#Image0, 
#Image1,
#Image2,
#Image3 {
    width: auto !important;
    height: auto !important;
}

[bgcolor="E6E9EE"] {
    background-color: transparent !important;
}
.mtDropdownMenu .item td {
    font: 11px Arial, Helvetica, sans-serif;
}
[name="frmConfirm"] .font_bold {
    @include text-system($bold-monts);
}
table[width="700"] {
    width: 100% !important;
}
#pagos_linea_ {
    &1,&2,&3,&10 {
        width: 100% !important;
        height: auto;
    }
}
#OfferStoreForm {
    .horizontal_solid_line {
        @extend %borderShadow;
        display: block;
        width: 98.5%;
        max-width: 555px;
        td.offer_prize_font_size table > tbody > tr {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
        .offer_font_bold .offer_prize_font_size {
            color: $color-secondary;
        }
    }
    td:last-child > .horizontal_solid_line {
        margin: 0 0 0 auto;
    }
    td:first-child > .horizontal_solid_line {
        margin: 0 auto 0 0;
    }
} 
.offer_action_header_txt, .offer_font_bold .offer_prize_font_size, .offer_decription {
    @include text-system($bold-monts);
    display: block;
    margin-bottom: 10px;
}
.offer_action_text {
    font-size: 13px;
}

[name="frmCustomer"] {
    > div > table > tbody > tr:last-child {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        > td:first-child > img {
            width: 100%;
        }
        .txt_black a {
            @include av-button-tertiary;
        }
    }
    #ListCustomer > table > tbody > tr > td > .tbl_outerline ~ table {
        .txt_black a {
            @include av-button-secondary
        }
    }
}

#search td.body > table > tbody {
    display: flex;
    flex-direction: column;
    > tr > td[width="245"] {
        width: 0px;
    }
    td.bodyBold {
        text-align: left;
    }
    a {
        @include av-link;
        line-height: 30px;
    }
}
#receivedMsgForm a {
    @include av-link;
}
[name="changePasswordForm"],[name="sendMsgForm"] {
    padding: 20px 0px;
    table {
        width: 100%;
    }
}
img[height="14"], [type="image"][height="14"] {
    height: auto !important;
}
[src*="presidents_club"] {
    width: 100%;
}

.av-tc {
    h2 {
        @include title;
        margin-bottom: 20px;
    }
    h4 {
        @include text-system($bold-monts);
        color: $color-dark-50;
        margin-bottom: 20px;
    }
    p {
        @include text-system;
        color: $color-dark-50;
        margin-bottom: 20px;  
    }
    ul {
        list-style-type: circle;
        padding-left: 30px;
        margin-bottom: 20px;
        li {
            @include text-system;
            color: $color-dark-50;
        }
        
    } 
}
[name="creditScoreForm"] table {
    width: 100%;
    &[width="176"] {
        width: auto;
    }
}