// CAM STYLES FIX
#dashboardFrame {
    width: 100% !important;
    @media (min-width:$media-2){
        width: 900px !important;
    }
}

// HEADER STYLES
.clickImage {
    display: block;
    margin: 30px auto 10px auto;
}

.accName_Text, .ord_gray_txt {
    font-family: $bold-monts !important;
    font-weight: bold;
    color: $color-text;
    text-transform: uppercase;
    font-size: 14px !important;
    text-align: left;
    padding-left: 100px;
}
.dueby_text {
    color: $color-text !important;
}
.topLinks {
 color: $color-text;
	font-weight: normal;
	text-decoration: none;
	font-size: 11px;
	font-family:  $regular-monts;
    cursor: pointer;
    padding: 0 7px;
    + .spacer {
        font-size: 0;
    }
}

.articleHeader {
    background-color: $color-dark-light;
    height: 200px;
}

table.border_rightstyle.bg1_f2f0f0{
    padding: 20px 45px;
}



.tbl_orderpack > tbody > tr:nth-child(6) table {
    border-spacing: 0px 5px;
    tr:first-child > td {
        @include text-system($bold-monts);
        background-color: $color-dark-lighter;
        padding: 10px;
        text-align: left;
    }
    tr td:nth-child(3){
        padding: 0px 20px;
    }
}

// STEPPER and STEP 1 Containers Padding

.tbl_bgpink,
[name="frmDemoBrochure"] > table,
[name="exForm"] > table:first-of-type,
[name="frmSummary"] > table:first-of-type,
#frmCreateOrder > table,
#newIooffersForm > table,
#clearanceoffersForm > table,
.contentbackgroundcolor table[width="745px"]:not(.bor_outer) {
    padding: 0px 40px;
    width: 100%;
    @media (min-width:$media-3) {
        padding: 0px 60px;
    }
}
[name="frmSummary"] > table:first-of-type, .tbl_bgpink {
    display: block;
}
// CREATE ORDER TABLES

#frmCreateOrder > table {
    .div_table, .div_fst_ordrtable {
        table.body, table.tbl_lineentry {
            > tbody {
                > tr {
                    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
                    height: 55px;
                    background-color: $color-white;
                    
                }
            } 
        }
    }
    .div_fst_ordrtable table.tbl_lineentry > tbody > tr {
        > td:nth-child(5), > td:nth-child(6), > td:nth-child(7), > td:nth-child(8){
            background-color: $color-light-white;
        }
    } 
    > tbody > tr.tbl_header > .tbl_bgmid2 .tbl_header table {
        width: 100%;
    } 
    .tbl_outerline > tbody > tr:last-child tr {
        display: flex;
    } 
}

//ORDEN GUARDADA

#divOuter_1 + table.alt_rows {
    margin: 50px 0px;
} 
// CONTADOR COLOCAR UNA ORDEN
table.order_table {
    box-shadow: 0px 0px 4px $color-dark-light;
    text-align: right;
    width: 280px;
    @media (min-width:$media-3){
        width: 350px;
    }
    @media (min-width:$media-4){
        width: 400px;
    }
    > tbody {
        
        > tr:nth-child(1) td {
            font-size: 13px;
            padding: 4px 30px;
            font-family: $regular-monts;
            background-color: $color-dark-light;
            color: $color-text;
        }
        .bg_lightpinkheader {
            font-size: 12px;
            padding: 4px;
            background-color: $color-dark-lighter;
         }
         .bg_lightpink,.bg_lightpinklast {
            font-family: $bold-monts;
            color: $color-primary;
            font-size: 12px;
            padding: 3px;
         }
    }
}
// Brosura

.contentbackgroundcolor table[width="745px"]:not(.bor_outer) {
    margin-top: 50px;
}
.contentbackgroundcolor table[width="745px"].bor_outer {
    width: 100%;
    border-spacing: 20px 0px;
    > tbody > tr > td {
        vertical-align: top;
        &:first-child > table {
            min-height: 290px;
            border-spacing: 0px 15px;
            > tbody > tr {
                box-shadow: $color-shadow-border;
                > td {
                    padding: 10px 40px;
                }
                .border_bottomd7d1d1 {
                    > table {
                        width: 100%;
                        td {
                            text-align: right;
                            @include text-system($bold-monts);
                            color: $color-secondary;
                        }
                        div[align="center"] {
                            text-align: left;
                            @include text-system($bold-monts);
                        }
                    }
                }
            }
        }
        &:last-child {
            .tbl_orderpack > tbody {
                display: flex;
                flex-direction: column-reverse;
                img[src^="static/images/offerImages"]{
                    width: 100%;
                    height: auto;
                }
                td h3 {
                    padding: 10px;
                }
            }
        }

    }
    
}


//Login

[onclick="winClose=false;"] > table {
    width: 100%;
}

// MODALES
[name="addDemoForm"], [name="addOffersForm"] {
    padding: 0 30px;
}

.div_table {
    .tbl_outerline {
        box-shadow: none;
        td {
            @include text-system($regular-monts)
        }
        .bg_f5f3f4 {
            background-color:#f5f3f4;
            height: 40px;
        }
        .bg_e8e4e3 {
            height: 40px;
        }
    }
}
// TABS
table.border_rightstyle td.padding_3 {
    color: $color-text;
    background-color: #ffff;
    text-align: center;
    width: 15%;
	border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer; 

    &:hover {
        background-color: #f8f8f8;
    }
    &.active {
        border-bottom: 5px solid $color-primary;
    }
}


td.padding_3.active a, td.padding_3 a {
    width: 100%;
	padding: 15px 0;
	font-family: $regular-monts;
}


td.bg2_f2f0f0.padding_3.active1 {
    border-bottom: 5px solid $color-primary;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
}
.bg_f2f0f0 td.active a, .bg1_f2f0f0 a, .bg_f2f0f0 a {
    color: $color-text;
    font-family: $regular-monts;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    line-height: 15px;
    display: block;
}


// CLEARENCE OFFERS
#clearanceoffersForm {
    .Io_table_header_bg img {
        width: 100%;
     }
     #displayArea1 > table{
        border: none !important;
        border-spacing: 15px 8px;
        > tbody > tr:nth-child(odd) > td {
            box-shadow: $color-shadow-border;
            padding: 20px 10px;
            transition: all 0.4s;
            &:hover {
                box-shadow: $color-shadow-hover;
            }
            > table {
                border-spacing: 10px 0px;
                div.offers_description {
                    width: 80%;
                    overflow: hidden;
                    margin-bottom: 5px;
                }
            }
        }
        > tbody > tr:last-child > td {
            box-shadow: none;
            padding: 0px;
        }
    }
} 

// MODAL OFERTAS
[name="addOffersForm"] .paddingleft_15 {
    padding-left: 0px;
    table.tbl_orderpack table {
        width: 100%;
    }
    
    table.tbl_orderpack > tbody {
        > tr:nth-last-child(3) {
            font-family: $semi-bold-monts;
            background-color: $color-dark-lighter;
        }
        > tr:nth-last-child(7) td:last-child{
            font-family: $semi-bold-monts;
            padding: 10px 30px;
        }
        .scroll_promo {
            min-height: 100px;
        }
    } 
}
