// CAM STYLES FIX
#dashboardFrame {
    width: 100% !important;
    @media (min-width:$media-2){
        width: 900px !important;
    }
}

/*------- HEADER FIX 2020 ------*/

.clickImage {
    display: block;
    margin: 30px auto 10px auto;
}

.accName_Text, .ord_gray_txt {
    font-family: $bold-monts !important;
    font-weight: bold;
    color: $color-text;
    text-transform: uppercase;
    font-size: 14px !important;
    text-align: left;
    padding-left: 100px;
}
.dueby_text {
    color: $color-text !important;
}
.topLinks {
 color: $color-text;
	font-weight: normal;
	text-decoration: none;
	font-size: 11px;
	font-family:  $regular-monts;
    cursor: pointer;
    padding: 0 7px;
    + .spacer {
        font-size: 0;
    }
}

.articleHeader {
    background-color: $color-dark-lighter;
    height: 200px;
    overflow: hidden;
    width: 100%;
    > img {
        width: 100%;
    }
}

table.border_rightstyle.bg1_f2f0f0{
    padding: 20px 45px;
}



.tbl_orderpack > tbody > tr:nth-child(6) table {
    border-spacing: 0px 5px;
    tr:first-child > td {
        @include text-system($bold-monts);
        background-color: $color-dark-lighter;
        padding: 10px;
        text-align: left;
    }
    tr td:nth-child(3){
        padding: 0px 20px;
    }
}

/*------- STEP 0 2020 ------*/

div#campaignSelect table tbody tr td .padding_left20.blk_main_heading24 {
    padding-left: 0 !important;
    img {
        width: 100%;
    }
    
}
.table_bg {
    box-shadow: $color-shadow-border;
    width: 100%;
}
.td_subheader_bg {
    text-align: left;
    .sub_heading2 {
        border-bottom: 1px solid $color-secondary;
        text-align: left;
        padding: 5px 10px;
        display: block;
    }
}
.place_an_order_tbl2 {
    box-shadow: $color-shadow-border;
    border-spacing: 7px 0px;
    background-color: $color-light-white;
    margin-bottom: 20px;

    .tdcell_R.border_top_white > table > tbody {
        display: flex;
        align-items: center;
        label strong {
            white-space: nowrap;
            @include text-system($regular-monts);
        }
    }
    label {
        @include text-system($bold-monts);
    }
}

/*------- PLACE N ORDER PADDING 2020 ------*/

.tbl_bgpink,
[name="frmPreviewOrder"],
[name="frmDemoBrochure"],
[name="exForm"],
[name="frmSummary"],
[name="frmConfirm"],
#frmCreateOrder,
#newIooffersForm,
#clearanceoffersForm,
#returnForm,
#aaa.bor_outer,
.contentbackgroundcolor table[width="745px"]:not(.bor_outer) {
    padding: 0px 40px;
    box-sizing: border-box;
    width: 100%;
    @media (min-width:$media-3) {
        padding: 0px 60px;
    }
}
#frmSelectCampaign {
    padding: 0px 30px;
}
[name="frmSummary"] > table:last-child {
    display: flex;
    justify-content: flex-end;
    
    .buttonBgpink {
        @include av-button-secondary;
    } 
    .bodyR {
        color: $color-white;
        padding: 10px;
        background-color: $color-dark-lighter;
    }
}


/*------- CREATE ORDER TABLES 2020 ------*/


#frmCreateOrder > table {
    .div_table, .div_fst_ordrtable {
        table.body, table.tbl_lineentry {
            > tbody {
                > tr {
                    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
                    height: 55px;
                    background-color: $color-white;
                    
                }
            } 
        }
    }
    .div_fst_ordrtable table.tbl_lineentry > tbody > tr {
        > td:nth-child(5), > td:nth-child(6), > td:nth-child(7), > td:nth-child(8){
            background-color: $color-light-white;
        }
    } 
    > tbody > tr.tbl_header > .tbl_bgmid2 .tbl_header table {
        width: 100%;
    } 
    .tbl_outerline > tbody > tr:last-child tr {
        display: flex;
    } 
}

/*------- SAVED ORDER TABLE 2020 ------*/

#divOuter_1 + table.alt_rows {
    margin: 50px 0px 25px 0px;  
    .bg_fff9f9 {
        @include av-table($color-secondary,$color-white);
        box-shadow: $color-shadow-border;
        td:not(.bodyR) {
            @include text-system($regular-monts);
        }
    }
}
#div_0 {
    animation-name: avFadeTable;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes avFadeTable {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.border_left.border_right[style="border-bottom:1px solid #E1DFDF"] {
    border-bottom: none !important;
    margin-bottom: 55px;
}

/*------- PLACE N ORDER COUNTER 2020 ------*/

table.order_table {
    box-shadow: $color-shadow-border;
    text-align: right;
    width: 280px;
    @media (min-width:$media-3){
        width: 350px;
    }
    @media (min-width:$media-4){
        width: 400px;
    }
    > tbody {
        
        > tr:nth-child(1) td {
            font-size: 13px;
            padding: 6px 30px;
            font-family: $bold-monts;
            color: $color-white;
            background-color: $color-secondary;
        }
        .bg_lightpinkheader, .bg_lightpink,.bg_lightpinklast {
            font-size: 12px;
            padding-top: 2px;
            background-color: $color-light-white;
         }
    }
}


/*------- BROSURA 2020 ------*/

.contentbackgroundcolor table[width="745px"]:not(.bor_outer) {
    margin: 50px 0xp;
}
.contentbackgroundcolor table[width="745px"].bor_outer {
    width: 100%;
    border-spacing: 20px 0px;
    > tbody > tr > td {
        vertical-align: top;
        &:first-child > table {
            min-height: 290px;
            border-spacing: 0px 15px;
            > tbody > tr {
                box-shadow: $color-shadow-border;
                > td {
                    padding: 10px 40px;
                    background-color: $color-light-white;
                }
                .border_bottomd7d1d1 {
                    > table {
                        width: 100%;

                        > tbody > tr:last-child {
                            display: none;
                        }
                        td {
                            text-align: right;
                            @include text-system($bold-monts);
                            color: $color-secondary;
                        }
                        div[align="center"] {
                            text-align: left;
                            @include text-system($bold-monts);
                        }
                    }
                }
            }
        }
        &:last-child {
            .tbl_orderpack > tbody {
                display: flex;
                flex-direction: column-reverse;
                img[src^="static/images/offerImages"]{
                    width: 100%;
                    height: auto;
                }
                td h3 {
                    padding: 10px;
                }
            }
        }

    }
    
}

#aaa.bor_outer {
    margin-top: 30px;
    + #replacementsTbl.bor_outer {
        width: 90%;
        margin: 0 auto;
    }
}


/*------- QUICK ORDER 2020 ------*/

.copyTextbox {
    width: 100%;
    display: block;
}
.copyImage {
    width: 100%;
    display: block;
    text-align: right;
}

/*------- LOGIN 2020 ------*/

[onclick="winClose=false;"] > table {
    width: 100%;
}

/*------- MODAL 2020 ------*/
[name="addDemoForm"], [name="addOffersForm"] {
    padding: 0 30px;
}

/*------- TABLAS 2020 ------*/

.div_table {
    .tbl_outerline {
        box-shadow: none;
        td {
            @include text-system($regular-monts)
        }
        .bg_f5f3f4 {
            background-color: $color-dark-lighter;
            height: 40px;
        }
        .bg_e8e4e3 {
            height: 40px;
        }
    }
}

/*------- TABS 2020 ------*/

table.border_rightstyle td.padding_3 {
    color: $color-text;
    background-color: #ffff;
    text-align: center;
    width: 15%;
	border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer; 

    &:hover {
        background-color: #f8f8f8;
    }
    &.active {
        border-bottom: 5px solid $color-primary;
    }
}


td.padding_3.active a, td.padding_3 a {
    width: 100%;
	padding: 15px 0;
	font-family: $regular-monts;
}


td.bg2_f2f0f0.padding_3.active1 {
    border-bottom: 5px solid $color-primary;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
}
.bg_f2f0f0 td.active a, .bg1_f2f0f0 a, .bg_f2f0f0 a {
    color: $color-text;
    font-family: $regular-monts;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    line-height: 15px;
    display: block;
}

.margin_top10{
    margin: 20px;
}

/*------- CLEARANCE OFFERS 2020 ------*/

#clearanceoffersForm {
    .Io_table_header_bg img {
        width: 100%;
     }
     #displayArea1 > table{
        border: none !important;
        border-spacing: 15px 8px;
        > tbody > tr:nth-child(odd) > td {
            @extend %borderShadow;
            padding: 20px 10px;
            
            > table {
                border-spacing: 10px 0px;
                div.offers_description {
                    width: 80%;
                    overflow: hidden;
                    margin-bottom: 5px;
                }
            }
        }
        > tbody > tr:last-child > td {
            box-shadow: none;
            padding: 0px;
        }
    }
} 

/*------- CLEARANCE OFFERS MODAL 2020 ------*/

[name="addOffersForm"] .paddingleft_15 {
    padding-left: 0px;
    table.tbl_orderpack table {
        width: 100%;
    }
    
    table.tbl_orderpack > tbody {
        > tr:nth-last-child(3) {
            font-family: $semi-bold-monts;
            background-color: $color-dark-lighter;
        }
        > tr:nth-last-child(7) td:last-child{
            font-family: $semi-bold-monts;
            padding: 10px 30px;
        }
        .scroll_promo {
            min-height: 100px;
        }
    } 
}

/*------- SUBTOTAL 2020 ------*/

td .font_bold.font_14.txt_fff {
    @include subtitle(25px,center);
    color: $color-secondary;
    line-height: 29px;
    padding-left: 70px;
    background-color:$color-white;
    display: table-cell;
    ~ td.padding_10 {
        @include text-system($regular-monts);
        padding-right: 70px;
    }
}
.body {
    > img[src="/REPSuite/static/images/iom/banner_subtotal_text.gif"] {
        width: 100%
    }
    em {
        @include text-system($regular-monts);
        padding-left: 70px;
        color: $color-secondary;
        
    }
} 

/*------- SUBTOTAL 2020 ------*/
.tableBorder [bgcolor="#EDEEEF"] {
    background-color: transparent;
}
[name="frmConfirm"] [src="static/images/article_content/es_headIMG.jpg"]{
    width: 342px;
    height: auto;
}