.border {
    background: #FFFFFF;
    width: 100%;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        width: 800px;
        @media (min-width:$media-4){
            width: 1124px;
        }
    }
}
.margins_theme {
    overflow-y: hidden;
}
@mixin bodyMixin {
    display: table-cell;
    background-color: $color-light-white;
        
    > td {
        display: block;
        background-color: $color-white;
        margin: 0 auto;
        height: auto;
        width: $media-2;
        min-height: 73vh;
        padding: 0px 20px;
        box-sizing: border-box;
        
        @media (min-width:$media-3) {
            width: $media-3;
            padding: 0px 30px;
        }
        @media (min-width:$media-4) {
            width: $media-4;
            padding: 0px 60px;
        }
    }
}
table.border > tbody > tr > td > table > tbody {

    //MAIN HEADER

    > tr:nth-child(1){
        > td > table > tbody > tr:nth-child(2) > td > table > tbody > tr {
            display: flex;
            flex-direction: row-reverse;
            position: relative;
            padding: 0px 40px 10px 40px;
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                display: table-row;
            }

            > td:first-child {
                flex: 5;
                display: flex;
                justify-content: flex-start;

                table table tr:nth-child(3) img {
                    height: 0;
                    opacity: 0;
                }
            }
            > td:last-child {
                flex: 4;
                
                > table > tbody {

                    > tr:nth-child(1) {
                        position: absolute;
                        top: 35px;
                        right: 40px;
                        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                            position: static;
                        }
                        
                    }
                    
                    > tr:nth-child(2) > td table {
                        width: 100%;
                        > tbody > tr:nth-child(4) {
                            td[colspan="3"] > table > tbody > tr {
                                display: flex;
                                > td:last-child {
                                    flex: 1;
                                    padding-right: 80px;
                                    font-size: 12px;
                                    white-space: normal;
                                }
                                .alert{
                                    padding-left: 80px;
                                }
                            } 
                            > td:first-child:not([colspan="3"]) {
                                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                                    position: static;
                                }
                                position: absolute;
                                right: 40px;
                                top: 10px;
                                background-color: $color-white;
                                z-index: 100;
                            }
                            
                        }
                    }
                } 
            }
            
        }
    }

    //MAIN MENU

    > tr:nth-child(2){
        [name="homeNav"] {
            border-bottom: 1px solid $color-primary;    
            table table {
                max-width: 1200px;
                width: 100%;
                margin: 0 auto;
            }
        }
    }


    > tr:nth-child(3){
        @include bodyMixin;
    }
}
.searchBox {
    &::after {
        content: 'BUSCAR';
    }
}
.clickImage {
    display: block;
    margin: 25px auto 8px auto;
}
.dueby_text {
    font-size: 12px;
    line-height: 12px;
}


.pink12_txt, .daysLeft_text{
    font-size: 14px;
    color:$color-secondary;
    ::before {
        content: '/ ';
    }
}

