.border {
    background: #FFFFFF;
    width: 100%;
    max-width: 1800px;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        width: 800px;
        @media (min-width:$media-4){
            width: 1124px;
        }
    }
}
@mixin bodyMixin {
    display: table-cell;
    background-color: $color-light-white;
        
    > td {
        display: block;
        background-color: $color-white;
        margin: 0 auto;
        height: auto;
        width: $media-2;
        min-height: 73vh;
        padding: 0px 20px;
        box-sizing: border-box;
        
        @media (min-width:$media-3) {
            width: $media-3;
            padding: 0px 30px;
        }
        @media (min-width:$media-4) {
            width: $media-4;
            padding: 0px 60px;
        }
    }
}
table.border > tbody > tr > td > table > tbody {

    //MAIN HEADER

    > tr:nth-child(1){
        > td > table > tbody > tr:nth-child(2) > td > table > tbody > tr {
            display: flex;
            flex-direction: row-reverse;
            position: relative;
            padding: 0px 40px 14px 40px;

            > td:first-child {
                flex: 3;
                display: flex;
                justify-content: flex-start;

                table table tr:nth-child(3) img {
                    height: 0;
                    opacity: 0;
                }
            }
            > td:last-child {
                flex: 2;
                
                > table > tbody {

                    > tr:nth-child(1) {
                        position: absolute;
                        top: 35px;
                        right: 40px;
                        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                            position: static;
                        }
                        
                    }
                    
                    > tr:nth-child(2) > td table {
                        width: 100%;
                        > tbody > tr:nth-child(4) {
                            td[colspan="3"] > table > tbody > tr {
                                display: flex;
                                > td:last-child {
                                    flex: 1;
                                    padding-right: 80px;
                                    font-size: 12px;
                                }
                            } 
                            > td:first-child:not([colspan="3"]) {
                                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                                    position: static;
                                }
                                position: absolute;
                                right: 40px;
                                top: 10px;
                                background-color: $color-white;
                                z-index: 100;
                            }
                            
                        }
                    }
                } 
            }
            
        }
    }

    //MAIN MENU

    > tr:nth-child(2){
        [name="homeNav"] {
            border-bottom: 1px solid $color-primary;    
            table table {
                max-width: 1200px;
                width: 100%;
                margin: 0 auto;
            }
        }
    }


    > tr:nth-child(3){
        @include bodyMixin;
    }
}
.searchBox {
    &::after {
        content: 'BUSCAR';
    }
}
.clickImage {
    display: block;
    margin: 25px auto 8px auto;
}
.dueby_text {
    font-size: 12px;
    line-height: 12px;
}


.pink12_txt, .daysLeft_text{
    font-size: 14px;
    color:$color-secondary;
    ::before {
        content: '/ ';
    }
}


// LOG IN
[onunload="closeAllChilds();"] > table.border > tbody > tr:nth-child(2) {
    //@include bodyMixin;
    > td > table > tbody > tr {
        display: flex;
        > td {
            flex: 1;
            height: 76vh;
            &:first-child {
                display: none;
                @media (min-width:$media-3) {
                    display: block;
                    height: 80vh;
                }
            }
            &:last-child {
                > table {
                    width: 100%;
                }
            }
        }
    }
}
[name="homeNavParent"] > table {
    background-image: none;
    > tbody {
        tr:nth-child(2) {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            td:last-child {
                align-self: flex-end;
            }
        }
    }
}
#logindiv {
    box-sizing: border-box;
    display: block !important;
    width: 400px;
    padding: 40px 50px;
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
    > table > tbody > tr:first-child > td > img {
        width: 100%;
    }
    .loginBoxBG > table > tbody > tr > td > table {
        width: 100%;
    }
    [name="loginForm"] ~ tr {
        &:nth-last-child(4), &:nth-last-child(6), &:nth-last-child(8){
            tr {
                display: flex;
                flex-direction: column;
                margin-bottom: 12px;
                input {
                    width: 100%;
                }
            }
        }
        &:nth-last-child(4) {
            td:nth-child(2) {
                margin: 10px 0px;
            }
        }
    }
    a.bodyCenter {
        margin: 5px 0px;
    }
}
.avlogin-support {
    margin-top: 35px;
    width: 400px;
    text-align: left;
   
    .avlogin-contact {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        p {
            display: flex;
            align-items: center;
            svg {
                margin-right: 3px;
            }
        }
    }
}
.avlogin-content {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    > div:first-child {
        flex: 1;
    }
}
.avlogin-social {
    display: flex;
    padding: 30px;
    background-color: $color-light-white;
    a {
        text-decoration: none;
        color: $color-text;
    }
    > div {
        font-size: 15px;
        &:first-child {
            margin-right: 40px;
        }
    }
    > div:last-child {
        text-align: left;
        > div:first-child a::after {
            content: ' /';
        }
        > div:last-child {
            a:first-child {
                margin-right: 15px;
            }
        }
    } 
}