
$prod-font: '/FLDSuite/static/fonts';
$route-font: $prod-font;
$route-images: '../images';;

@import '../partial-scss/font';
@import '../partial-scss/colors';
@import '../partial-scss/variables';
$size-text: 15px;
$line-height: 19px;
@import '../partial-scss/button';
@import '../partial-scss/text';
@import '../partial-scss/components';


@import '../GI3/demos';
@import '../GI3/mxExceptions';
@import '../GI3/orderSummary';
@import '../GI3/subtotal';
@import '../GI3/step0';
@import '../GI3/clearanceOffers';
@import '../GI3/brosura';
@import '../GI3/popUp';
@import '../GI3/step1';
@import '../GI3/yourTeamOrder';
@import '../GI3/headerLinks';

@import 'included_styles';

@import 'moreStyles';

@import 'included_styles2020';