
// Color
$color-imb: #0057FF;


.av-brochures-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1.5rem 0rem 1.5rem 1.5rem;
}
.av-filtros {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    label {
        cursor: pointer;
    }
    
    ul {
        padding: 0 2.5rem;
        cursor: pointer;
        list-style-type: none;
        padding: 15px 0px; 
        box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
        border-radius: 4px;
        position: absolute;
        z-index: 10;
        right: 10px;
        top: 10px;
        background-color: $color-white;
        display: none;
        li {
            padding: 15px 25px;
            &:hover {
                background-color: $color-dark-30;
            }
        }
        &.active {
            display: block;
        }
    }
    .avFilterSelected {
        width: 180px;
        text-align: center;
    }
    
}
h2.av-brochure-title {
    padding: 3rem 2.5rem 2rem 2.5rem;
    font-size: $size-text * 2;
    color: $color-text;
    font-family: $black-zona;
    text-transform: uppercase;
    font-style: normal;
    .av-title-stroke {
        @supports (-webkit-text-stroke: 1px $color-text) {
            -webkit-text-stroke: 1px $color-text;
            -webkit-text-fill-color: transparent;
          }
    }
}
h3.av-brochures-subtitle {
    font-family: $bold-monts;
    color: $color-text;
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 30px;
    svg {
        margin-right: 1rem;
        fill: $color-text;
    }
}
.av-brochure-button {
    display: block;
    margin: 0 auto 4rem auto;
}
.av-share {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5rem 1rem;
    font-size: $size-text;
    > div {
        margin: 10px 0px;
    }
     i{
         font-size: 24px;
     }
     a {
        background-color: #b3b3b3;
        border-radius: 50%;
        padding: 0px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        width: 45px;
        height: 45px;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
        &:hover{
            background-color:$color-primary;
        }
     }
}
.av-map {
    padding: 20px 25px;
    div {
        display: flex;
        align-items: center;
        margin-bottom: 23px;
        span:nth-child(2) {
            font-size: 13px;
            margin-left: 5px;
        }
    }
}

.av-brochure-item {
    width: 132px;
    min-height: 160px;
    margin: 10px;
    
    .av-brochure-image {
        width: 100%;
        height: 130px;
        position: relative;
        background-color: $color-dark-30;
        border-radius: 8px;
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 100% auto;
        box-shadow: 0 0 5px rgba(0,0,0,0.4);
        z-index: 20;
        transition: box-shadow 0.5s;
        cursor: pointer;
        
        &:hover,
        &:active,
        &:focus {
            z-index: 30;
            box-shadow: 0 0 20px rgba(0,0,0,0.9);
            
            .av-overlay, .av-copys {
                visibility: visible;
                opacity: 1;
            }
        }
        .av-canvas-container {
            width: 100%;
            height: 130px;
            overflow: hidden;
            position: absolute;
            border-radius: 8px;
        }
        
        .av-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0,0,0,0.8);
            color: $color-white;
            visibility: hidden;
            opacity: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 32;
            border-radius: 6px;
            font-size: 11px;
            font-family: $regular-monts;
            text-decoration: none;
            .material-icons {
                font-size: 38px;
            }
        }
        
        .av-copys, .av-download {
            padding: 11px;
            border-radius: 50%;
            cursor: pointer;
            color: $color-white;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-primary;
            z-index: 35;
            box-shadow: 0 2px 7px rgba(0,0,0,0.7);
            position: absolute;
            top: 8px;
            right: 8px;
            transition: transform 0.3s;
            .material-icons {
                font-size: 20px;
            }
            &:hover{
                transform: translateY(-1px);
            }
            &:active{
                background-color: $color-primary-dark;
                outline: none;
            }
            &:active,&:focus {
                outline: none;
            }
        }
        .av-copys {
            bottom: 10px;
            top: unset;
            visibility: hidden;
            opacity: 0;
        }
        .av-type {
            color: $color-white;
            font-family: $semi-bold-monts;
            padding: 0.6rem;
            width: 28%;
            position: absolute;
            right: 0;
            bottom: 0;
            border-radius: 8px 0 8px 0;
            text-align: center;
        }
        
    }
    .av-brochure-text {
        display: flex;
        justify-content: space-between;
        z-index: 10;
        max-width: 100%;
        overflow: hidden;

        .av-brochure-title {
            overflow: hidden;
            color: $color-text;
            font-family: $regular-monts;
            font-size: $size-text * 0.9;
            padding-top: 8px;
            text-align: left;
            font-style: normal;
        }
        
    }
    &.av-brochure-main {
        width: 85%;
        height: 300px;
        margin: 2rem auto 0 auto;
        .av-brochure-image {
            height: 257px;
        }
        .av-brochure-text {
            .av-brochure-title {
                width: 100%;
                text-align: center;
                font-size: 1.3rem;
                font-family: $semi-bold-monts;
            } 
        }
        
    }
}
.av-hidden {
    opacity: 0;
    position: absolute;
    z-index: -1;
    background-color: transparent;
    color: transparent;
    &:active,&:focus {
        outline: none;
        background-color: transparent;
    }
}

.imb{
    background-color: $color-imb;
}


