
// Color
$color-flyer: #DC05FF;
$color-contigo: #FB8F00;
$color-imb: #0057FF;
$color-bazar: #00CE15;


.av-brochures-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1.5rem 2rem;
    &:nth-child(5),
    &:nth-child(7){
        display: none;
    }
}
.av-filtros {
    padding: 0 2.5rem;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    
    div {
        font-size: 1rem;
        padding: 0.5rem 0.7rem;
        border-radius: 4px;
        font-family: $semi-bold-monts;
        margin-right: 0.1rem;
        fill: $color-white;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 15px rgba(0,0,0,0.3);
        transition: all 0.5s;
        @media (min-width:$media-1) {
            padding: 0.5rem 1.5rem;
            margin-right: 0.2rem;
        }
        &.filter-all {
            background-color: $color-text;
        }
        &.no-active {
            background-color: transparent;
            fill: $color-text;
            color: $color-text;
            box-shadow: none;
        }
    }
    
}
h2.av-brochure-title {
    padding: 3rem 2.5rem 2rem 2.5rem;
    font-size: $size-text * 2;
    color: $color-text;
    font-family: $black-zona;
    text-transform: uppercase;
    font-style: normal;
    .av-title-stroke {
        @supports (-webkit-text-stroke: 1px $color-text) {
            -webkit-text-stroke: 1px $color-text;
            -webkit-text-fill-color: transparent;
          }
    }
}
h3.av-brochures-subtitle {
    display: none;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    font-family: $regular-monts;
    margin-bottom: 1rem;
    color: $color-text;
    svg {
        margin-right: 1rem;
        fill: $color-text;
    }
}
.av-brochure-button {
    display: block;
    margin: 0 auto 4rem auto;
}
.av-share {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5rem 1rem;
    font-size: $size-text;
    > div {
        margin: 10px 0px;
    }
     i{
         margin-right: 1rem;
         font-size: 24px;
         color: $color-text;
     }
}
.av-map {
    padding: 20px 25px;
    div{
        display: flex;
        align-items: center;
        margin-bottom: 23px;
        span {
            font-size: 13px;
        }
        svg {
            margin-right: 23px;
        }
    }
}

.av-brochure-item {
    width: 132px;
    min-height: 160px;
    margin: 10px;
    
    .av-brochure-image {
        width: 100%;
        height: 130px;
        position: relative;
        background-color: $color-dark-30;
        border-radius: 8px;
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 100% auto;
        box-shadow: 0 0 5px rgba(0,0,0,0.4);
        z-index: 20;
        transition: box-shadow 0.5s;
        cursor: pointer;
        
        &:hover,
        &:active,
        &:focus {
            z-index: 30;
            box-shadow: 0 0 20px rgba(0,0,0,0.9);
            
            .av-overlay {
                visibility: visible;
                opacity: 1;
            }
        }
        .av-canvas-container {
            width: 100%;
            height: 130px;
            overflow: hidden;
            position: absolute;
            border-radius: 8px;
        }
        
        .av-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0,0,0,0.8);
            color: $color-white;
            visibility: hidden;
            opacity: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 32;
            border-radius: 6px;
            font-size: 11px;
            font-family: $regular-monts;
            text-decoration: none;
            .material-icons {
                font-size: 38px;
            }
        }
        .av-copy {
            padding: 11px;
            border-radius: 50%;
            cursor: pointer;
            color: $color-white;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-primary;
            z-index: 35;
            box-shadow: 0 2px 7px rgba(0,0,0,0.7);
            position: absolute;
            top: 8px;
            right: 8px;
            transition: transform 0.3s;
            .material-icons {
                font-size: 20px;
            }
            &:hover{
                transform: translateY(-1px);
            }
            &:active{
                background-color: $color-primary-dark;
                outline: none;
            }
            &:active,&:focus {
                outline: none;
            }
        }
        .av-type {
            color: $color-white;
            font-family: $semi-bold-monts;
            padding: 0.6rem;
            width: 28%;
            position: absolute;
            right: 0;
            bottom: 0;
            border-radius: 8px 0 8px 0;
            text-align: center;
        }
        
    }
    .av-brochure-text {
        display: flex;
        justify-content: space-between;
        z-index: 10;
        max-width: 100%;
        overflow: hidden;

        .av-brochure-title {
            overflow: hidden;
            color: $color-text;
            font-family: $regular-monts;
            font-size: $size-text * 0.9;
            padding-top: 8px;
            text-align: left;
            font-style: normal;
        }
        
    }
    &.av-brochure-main {
        width: 85%;
        height: 300px;
        margin: 2rem auto 0 auto;
        .av-brochure-image {
            height: 257px;
        }
        .av-brochure-text {
            .av-brochure-title {
                width: 100%;
                text-align: center;
                font-size: 1.3rem;
                font-family: $semi-bold-monts;
            } 
        }
        
    }
}
.av-hidden {
    opacity: 0;
    position: absolute;
    z-index: -1;
    background-color: transparent;
    color: transparent;
    &:active,&:focus {
        outline: none;
        background-color: transparent;
    }
}

.contigo{
    background-color: $color-contigo;
}
.bazar{
    background-color: $color-bazar;
}
.imb{
    background-color: $color-imb;
}
.flyer{
    background-color: $color-flyer;
}


