
.av-img-higiene {
    background-image: url('#{$route-images}/folletos/hg-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 500px;
    position: relative;
    top: -11rem;
    display: none;
    @media (min-width:$media-1){
        display: block;
    }
}
.av-subtitle-altern {
    font-size: 2rem;
    text-transform: uppercase;
    color: $color-hg-primary;
    font-family: $black-zona;
    margin-bottom: 1rem;
    &.negative {
        color: $color-white;
        text-align: center;

        @media (min-width:$media-2){
            text-align: left;
        }
    }
}

.av-row-higiene {
    margin-right: $margin-none;
    margin-left: $margin-none;
    [class^="col"]:first-child,[class^="col"]:last-child{
        padding-left: $margin-default;
        padding-right: $margin-default;
        padding-top: $margin-md;
        padding-bottom: $margin-md;
        margin-bottom: $margin-sm;
        @media (min-width:$media-1){
            padding-left: $margin-lg;
            padding-right: $margin-lg;
            padding-top: $margin-lg;
            padding-bottom: $margin-lg;
            margin-bottom: $margin-none;
        }
    }
}
.av-hg-images {
    width: 33.3%;
}
.av-slide-container {
    max-width: 100vw;
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    height: 375px;
    margin-bottom: 4rem;

    .av-slide-product {
        flex: 1;
        border-radius: 3px;
        background-color: $color-white;
        transition: all 0.4s;
        margin: 0.4rem;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    
        .av-slide-header {
            .av-slide-image {
                width: 100%;
            }
        }
        
        .av-slide-text { 
            padding: $size-text ($size-text+0.2rem);
            display: flex;
            flex-direction: column;

            .av-slide-text-item:first-child{
                flex: 2;
            }
            .av-slide-text-item.right{
                flex: 1;
            }
            .av-slide-code {
                font-size: $size-text + 0.4rem;
                margin-bottom: $margin-none;
            }
            .av-slide-title{
                font-size: $size-text + 0.6rem;
                font-family: $light-zona;
                margin-bottom: $size-text / 1.1;
                font-weight: bolder;
                font-style: normal;
                padding: 0;
            }
            .av-slide-description {
                color: $color-dark-light;
                display: block;
                //font-family: $light-monts;

                .av-slide-description-price {
                    font-size: $size-text + 1rem;
                    color: $color-primary;
                    font-weight: bolder;
                    display: block;
                }
            }
        }

    }
}