body {
    background-color: $color-dark-lighter;
}

section.av-lw {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 80vh;
    @media (min-width:$media-3){
        width: 900px; 
    }

    aside {
        flex: 1;
        z-index: 20;
        display: none;
        box-shadow: 10px 0px 20px rgba(0,0,0,0.3);
        
        .av-intro {
            flex: 3;
            height: 72%;
            padding: 2rem;
            background-image: url('./../images/liderazgo_web/lw-i.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $color-dark-30;
            .lw-logo {
                display: block;
                margin: 0 auto;
                width: 160px !important;
            }
           .av-hover {
              display: none;
              width: 100%;
              &.active{
                  display: block;
                  text-align: center;
              }
           }
        }
        .av-recent{
            flex: 1;
            padding: 1.5rem;
            background-image: linear-gradient(130deg,#D0709F,#B3276D 40%);
            .av-subtitle {
                font-size: 1.3rem;
            }
        }
        @media (min-width:$media-1){
            display: block;
            display: flex;
            flex-direction: column;
        }
    }



    section.av-section-container {
        width: 100%;
        transition: all 0.7s;
        position: relative;
        background-color: $color-light-white;
        @media (min-width:$media-1){
            width: 65%;
        }
        &.expand {
            width: 100%;
            @media (min-width:$media-1){
                width: 75%;
            }
        }
        .av-button-back {
            position: absolute;
            left: -50%;
            cursor: pointer;
            z-index: 10;
            transition: all 1s;
            overflow: hidden;
            width: 0;
            padding: 2em;
            &:active{
                background-color: $color-dark-light;
            }
            &.unable {
                width: auto;
                left: 0;
            }
        }
        .av-divider {
            width: 65%;
            height: 1px;
            background-color: $color-dark-light;
            margin: 0.4rem auto;
        }
        .av-section-title,.av-section-select {
            i:nth-child(1){
                margin-right: 1rem;
                color: $color-primary;
            }
        }


        $menu-padding: 12%;

        @mixin section-select($padding,$font-increase:0rem,$align:center){
            padding: 2% $padding;
            color: $color-text;
            font-family: $regular-monts;
            font-size: $size-text + $font-increase;
            margin-top: $size-text;
            text-decoration: none;
            display: flex;
            align-items: $align;
        }

        .av-section-title {
            @include section-select($menu-padding,0rem,center);
        }
        .av-section {
            .av-section-select {
                @include section-select($menu-padding + 2%,0.3rem,flex-start);
                
                &.unable {
                    cursor: pointer;
                    margin-top: 0rem;
                    padding: $size-text ($menu-padding + 5%) $size-text $menu-padding;
                    transition: background-color 0.5s;
                    &.sub {
                        padding: ($size-text - 0.3rem) $menu-padding + 5% ($size-text - 0.3rem) $menu-padding + 6%;
                        font-size: $size-text + 0.2rem;
                    }

                    &:hover{
                        background-color: $color-dark-30;
                    }
                    &:active{
                        background-color: $color-light-white;
                    }
                    i {
                        display: inline-block;
                    }
                }
                
                .av-selection-spacer {
                    flex-grow: 1;
                }
                i {
                    display: none;
                }
            }
            .av-list-content {
                overflow: hidden;
                height: 0;
                opacity: 0;
                margin-left: 14%;
                margin-right: 10%;
                //transition: all 0.5s;
                &.unable {
                    height: 90%;
                    opacity: 1;
                }
                
            }
            .av-iframe {
                width: 100%;
                height: 100%;
                border: none;
            }
        }
    }

    .disable {
        visibility: hidden;
    }
}
.av-tabs {
    width: 100%;
    display: flex;
    align-items: center;
    font-family: $regular-monts;
    margin: 1.5rem 0;

    .av-tabs-items {
        flex-grow: 1;
        text-align: center;
        border-bottom: 5px solid transparent;
        cursor: pointer;
        &.active{
            border-bottom-color: $color-text;
        }
    }
}
.av-guide{
    display: none;
    font-family: $semi-bold-monts;
    padding: 2rem 2.5rem;
    background-color: $color-white;
    width: 21rem;
    border-radius: 8px;
    position: absolute;
    z-index: 100;
    animation-name: avGuide;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    p {
        font-size: $size-text;
        color: $color-primary;
        margin-bottom: 0.7rem;
    }
    h4 {
        font-size: $size-text + 0.3rem;
        color: $color-text;
        margin-bottom: 0.4rem;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent transparent $color-white;
      }
}
#guideA{
    top: 0;
    left: -46%;
}
#guideB {
    top: 4%;
    right: 20%;
}
#guideC {
    top: 7%;
    left: -23%;
    &::after{
        top: unset;
        left: 50%;
        bottom: 100%;
        border-color: transparent transparent $color-white transparent !important;
    }
}
@keyframes avGuide {
    0%{box-shadow: 0px 0px 20px rgba(0,0,0,0.5);}
    50%{box-shadow: 0px 0px 10px rgba(0,0,0,0.3);}
    100%{box-shadow: 0px 0px 20px rgba(0,0,0,0.5);}
}