

@import '../partial-scss/routes';
@import '../partial-scss/font';
@import '../partial-scss/colors';
@import '../partial-scss/variables';

// Custom Variables
$size-text: 1rem;
$card-padding: 3rem;

@import '../partial-scss/primary-grid';
@import '../partial-scss/primary';
@import '../partial-scss/button';
@import '../partial-scss/reset';

@import 'hg-team-site';
@import 'circuloestelar';

@import 'lw';
@import 'home-slider';
@import 'brochures';