
.avMenuAnewControl {
    display: none;
    width: 56px;
    height: 68px;
    &.active {
        display: block;
        @media (min-width:$media-3) {
            display: none;    
        }
    }
}
.av-anew-institute {
    transform: scale(1.4);
    position: relative;
    right: 3px;
    @media (min-width:$media-3) {
        transform: scale(1.5);
        right: 0px;
    }
}
.av-anew-header {
    width: 100%;
    background-color: $color-white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 10px 10px 10px;
    @media (min-width:$media-3) {
        flex-direction: column;
        padding: 10px 30px 20px 30px;
    }
    .av-anew-link {
        align-self: flex-end;
        font-size: 13px;
        display: none;
        margin-bottom: 10px;
        
        a {
            color: $color-text;
            text-decoration: none;
            margin: 0 10px;
        }
        @media (min-width:$media-3) {
            display: block;
        }
    }
    .av-anew-brand {
        display: none;
        @media (min-width:$media-3) {
            display: block;
        }
    }
    @include headerLink($color-text);
}
.av-anew-container {
    padding-top: 93px;
    @media (min-width:$media-3) {
        padding-top: 144px;
    }
    .av-title {
        font-size: 31px;
        text-transform: uppercase;
        @media (min-width:$media-1) {
            font-size: 35px;
        }
    }
}
.av-anew-hero {
    background-color: $color-light-white;
    img {
        width: 100%;
        max-width: 1800px;
        margin: 0 auto;
        
        &:first-child {
            display: none;
            @media (min-width:$media-1) {
                display: block;
            }   
        }
        &:last-child {
            @media (min-width:$media-1) {
                display: none;
            }   
        }
    }
}
.av-anew-ages {
    padding: 6px 15px;
    width: auto;
    display: block;
    height: auto;
    font-size: 15px;
    border-radius: 15px 0px 15px 0px;
    background-color: salmon;
    text-transform: uppercase;
    color: $color-white;
    font-family: $bold-monts;
    margin-bottom: 10px;
}
@mixin avMove {
    position: absolute;
    padding: 15px;
    top: 40%;
    font-size: 28px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    color: $color-white;
    //display: none;
    z-index: 30;
    @media (min-width:840px) {
        display: none !important;
    }
}
.av-move-right {
    @include avMove;
    right: 10px;
    @media (min-width:500px) {
        display: block;
    }
}
.av-move-left {
    @include avMove;
    left: 10px;
    display: none;
}
.avMoveMask {
    position: absolute;
    padding: 15px;
    transform: scale(1.5);
    top: 40%;
    right: -40px;
    cursor: pointer;
    display: none;
    @media (min-width:840px) {
        display: block;
    }
}
.av-anew-items {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    width: 100%;
    position: relative;
    overflow: hidden;
    @media (min-width:$media-1) {
        overflow: visible;
    }
    .av-move-right {
        @media (min-width:500px) {
            display: block;
        }
    }
}
.av-anew-marker {
    width: 150px;
    min-width: 150px;
    overflow: hidden;
    border-radius: 50px 0px 50px 0px;
    min-height: 30px;
    transition: all 1s;
    margin-right: 20px;
    cursor: pointer;
    
    &:hover {
        box-shadow: $color-shadow-hover;
    }
    @media (min-width:$media-2) {
        width: 180px;
        min-width: 180px;
    }
    
    @media (min-width:900px) {
        transform: translateX(0px) !important;
    }
    
    .av-img {
        height: 30vh;
        background-color: $color-light-white;
        background-position: center;
        background-size: cover;
        @media (min-width:$media-3) {
            height: 35vh;
        }
    }
    span {
        font-family: $bold-monts;
        color: $color-white;
        display: block;
    }
    
    .av-age {
        text-transform: uppercase;
    }
    .av-numbers {
        font-size: 26px;
        text-transform: uppercase;
        @media (min-width:$media-2) {
            font-size: 30px;
        }
    }
    .av-description {
        font-size: 14px;
        font-family: $regular-monts;
    }
}
.call {
    background-color: #46A29F;
    &.c {
        background-color: #F07E20;
    }
}
.c25 {
    background-color: #F299F2;
}
.c30 {
    background-color: #DB7289;
}
.c45 {
    background-color: #CCA65B;
}
.c60 {
    background-color: #9F85E5;
}

.av-anew-subtitle {
    text-transform: uppercase;
    font-family: $bold-monts;
    font-size: 20px;
    color: $color-text;
    margin-bottom: 10px;
}
.av-anew-title-support {
    @extend %titles;
    font-family: $light-monts;
    font-weight: lighter;
    font-size: 28px;
    line-height: 31px;
    text-transform: uppercase;
}

.av-an-row {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1800px;
    margin: 0 auto;
    
    $caPadding: 100px;
    $caPaddingSmall: 5%;

    padding-left: ($caPadding * 0.3);
    padding-right: ($caPadding * 0.3);
    @media (min-width:$media-1){
        padding-left: $caPadding * 0.3;
        padding-right: $caPadding * 0.3;
    }
    
    @media (min-width:$media-3){
        padding-left: $caPadding;
        padding-right: $caPadding;
    }
    @media (min-width:$media-5){
        padding-left: $caPadding * 1.8;
        padding-right: $caPadding * 1.8;
    }
    @media (min-width:$media-6){
        padding-left: $caPadding * 2.8;
        padding-right: $caPadding * 2.8;
    }
    .av-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        flex: 1;
    }

    .noBack {
        padding-right: 2%;
    }
    
    @media (min-width:$media-1){
        flex-direction: row;
        &.reverse { 
            flex-direction: row-reverse;
            .noBack {
                padding-left: 5%;
            }
        }
    }
    .av-title {
        margin-bottom: 15px;
        margin-top: 2px;
    }
}
.av-anew-trio {
    width: 100%;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 40px;

    .av-col {
        $letPadding: 20px;
        justify-content: flex-start;
        min-width: 260px;
        padding: 0px $letPadding;
        transition: all 1s;
        &:nth-child(3){
            @media (min-width:$media-2){
                padding-right: $letPadding;
            }
        }
        &:nth-child(4){
            @media (min-width:$media-2){
                padding: 0px ($letPadding * 4);
            }
        }
        &:nth-child(5){
            @media (min-width:$media-2){
                padding-left: $letPadding;
            }
        }
        img {
            height: 30vh;
            @media (min-width:$media-2){
                padding-left: $letPadding;
                height: auto;
            }
        }    
    }
    
    .av-anew-decor{
        position: absolute;
        top: -75px;
        bottom: -75px;
        left: -3%;
        background-color: $color-light-white;
        width: 100%;
        z-index: 0;
        @media (min-width:$media-2) {
            left: 5%;
            width: 85%;
        }
        ~ h4,~ img,~ p {
            z-index: 10;
        }
    }
    
}
.av-anew-more {   
    order: 0;
    width: 100%;
    display: none;
    @media (min-width:$media-2) {
        order: 1;
    }
    .av-anew-more-img {
        position: absolute;
        left: 0px;
        top: -100px;
        opacity: 0.2;
        @media (min-width:$media-2) {
            opacity: 1;
        }
    }
}
.av-anew-bleed {
    @mixin letMixin($direction) {
        height: 250px;
        min-height: 250px;
        background-color: #eee;
        position: relative;
        background-position: center;
        background-size: cover;
        margin-bottom: 30px;
        
        $caPadding: 100px;
        #{$direction}: 0px;
        
        @media (min-width:$media-1){
            #{$direction}: -$caPadding * 0.3;
            height: 350px;
        }
        @media (min-width:$media-3){
            #{$direction}: -$caPadding * 0.5;
            margin-bottom: 2vh;
            margin-top: 0;
            height: 400px;
        }
        @media (min-width:$media-4){
            #{$direction}: 0px;
            height: 420px;
        }
    }
    &-up {
        @include letMixin(right);
        margin-top: 40px;
        @media (min-width:$media-1){
            border-radius: 60px 0px 0px 0px;
        }
        @media (min-width:$media-3){
            border-radius: 120px 0px 0px 0px;
        }
    }
    &-down {
        @include letMixin(left);
        @media (min-width:$media-1){
            border-radius: 0px 0px 60px 0px;
        }
        @media (min-width:$media-3){
            border-radius: 0px 0px 120px 0px;
        }
        
    }
}
.av-anew-bleed-lg {
    width: 530px;
    left: -380px;
    top: -100px;
    position: relative;
    opacity: 0.2;
    @media (min-width:$media-1) {
        opacity: 1;
    }
}
.av-anew-gray {
    background-color: #f7f7f7;
    padding-top: 70px;
    padding-bottom: 80px;
    position: relative;
    top: -2px;
}
.av-an-ages-row {
    display: flex;
    flex-wrap: wrap;
    @media (min-width:$media-1) {
        flex-wrap: nowrap;
    }
    > div {
        flex: 1;
    }
    .av-line {
        height: 1px;
        width: 100%;
        background-color: $color-dark;
        position: relative;
        .av-dot {
            position: absolute;
            left: 50% ;
            top: -2px;
            background-color: $color-dark;
            width: 5px;
            height: 5px;
            border-radius: 50%;
        }
    }
    h3 {
        text-align: center;
        font-size: 34px;
        margin-bottom: 10px;
        font-family: $bold-monts;
    }
    .av-text {
        padding: 10px;
    }
    img {
        display: block;
        margin: 15px auto;
    }
}
.av-transform-decor {
    position: absolute;
    display: none;
    @media (min-width:$media-2) {
        display: block;
        top: 0%;
    }
    @media (min-width:$media-3) {
        top: 0%;
        top: 10%;
        left: -30%;
    }
}
.av-modal-mimage {
    @media (max-width:$media-1) {
        flex: 1;
        padding: 20px;
        width: 100%;
    }
    @media (min-width:$media-1) {
        padding: 40px 45px 0px 25px;
    }
}
.av-anew-transition {
    
    width: 100%;
    opacity: 0;
    height: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
    background-color: $color-white;
    transition: all 0.7s;
    overflow: hidden;
    > div {
        transform: scale(2);
        transition: all 0.7s;
    }
}

@mixin av-anew-section($name) {
    .#{$name} {
        background-image: url('#{$route-images}/anew/#{$name}.jpg');
    }
}

@include av-anew-section(sectionAnClinical);
@include av-anew-section(sectionAnPerfectSkin);
@include av-anew-section(sectionAnProtinol);
@include av-anew-section(sectionAnInstitute);
@include av-anew-section(sectionAnExp2);
@include av-anew-section(sectionAnExp3);
@include av-anew-section(avAnewAgeAll);
@include av-anew-section(avAnewAge25);
@include av-anew-section(avAnewAge30);
@include av-anew-section(avAnewAge45);
@include av-anew-section(avAnewAge60);
