
.av-conv-header {
    background-image: url('#{$route-images}/responsabilidad-social/violence-woman.jpg');
}
.av-cm-header {
    background-image: url('#{$route-images}/responsabilidad-social/cm-ganadores.jpg');
}
.av-cm-convocatoria {
    background-image: url('#{$route-images}/responsabilidad-social/cm-convocatoria.jpg');
}
.av-convocatoria-2021 {
    background-image: url('#{$route-images}/responsabilidad-social/convocatoriaViolencia2021.jpg');
}

@mixin image-placer($number){
    .av-conv-#{$number} {
        background-image: url('#{$route-images}/responsabilidad-social/violence-banner-#{$number}.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 200px;
    }
    
}
.text-justify {
    text-align: justify;
}
@include image-placer(1);
@include image-placer(2);
@include image-placer(3);

.av-conv-row .w-100 {
    height: $size-text*2;
}
