/*orderLanding-start*/

/* .attMarketSlot{
	
	width:100%;height:100%;
	background-color: lightgrey;
	padding-top:45px;
	padding-bottom:45px;
	font-family: Montserrat;
font-weight: bold;
font-size: 16px;
} */
@font-face {
  src: url("/FLDSuite/static/fonts/Montserrat-Regular.ttf");
  font-family: Montserrat;
}

.attEditOrderSlot{
	
	width:100%;height:100%;background-color: white; padding-top:20px;padding-bottom:20px;
	font-family: Arial;
}

.attEditOrderButton{
	padding-top: 10px;padding-bottom: 10px;padding-right: 25px;
	 				padding-left: 25px; cursor:pointer; background-color: #7F28C4; color: white;
	 				font-family: Montserrat;
					font-weight: bold;
					font-size: 16px;
}

.attPlaceOrderSlot{
	
	width:100%;height:100%;background-color: white; padding-top:20px;padding-bottom:20px;
	font-family: Arial;
}

.attPlaceOrderButton{
	
	padding-top: 10px;padding-bottom: 10px;padding-right: 25px;
	 				padding-left: 25px; cursor:pointer; background-color: #7F28C4; color: white;
	 				font-family: Montserrat;
	 				font-weight: bold;
					font-size: 16px;
}

.attPrevOrdersHeading,.attEditOrdersHeading{
	
	font-weight: bold;
	font-family: Montserrat;
	font-size: 20px;
}


.attEditOrdersContent,.attPrevOrdersContent{
	
	
	font-family: Montserrat;
	font-size: 18px;
}


.attEditOrdertext1{
	
	padding-top:10px;padding-bottom:10px;
	font-family: Montserrat;
	font-size:24px;
	
}

.attEditOrdertext2{
	
	padding-top:10px;padding-bottom:10px;
	font-family: Montserrat;
	font-size:16px;
}

.attPlaceOrdertext1{
	
	padding-bottom:20px;
	
	font-family: Montserrat;
font-size: 22px;
}

.attPlaceOrdertext2{
	
	padding-bottom:30px;
	color:#7F28C4;
	font-family: Montserrat;
	font-size: 42px;
}

.attPlaceOrdertext3{
	
	padding-bottom:20px;
	font-family: Montserrat;
	font-size: 18px;
}

.attPrevOrders{
	font-family: Montserrat;
	font-size: 24px;
	padding-top:10px;
}

.attNoPrevOrders{
	
	font-family: Montserrat;
	font-size: 24px;
	padding-top:10px;
}

/*orderLanding-end*/

/*orderDetailsPage-start*/

.attBackHyperLink{
	
	font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
color:#7F28C4;
}

.attOrderDetailsSlot{
	
	width:100%;height:100%;background-color: white; padding-top:20px;padding-bottom:20px;
}

.attOrderDetailstext{
	
	padding-bottom:10px;
	font-family: Montserrat;
font-size: 42px;
}

.attOrderDetailsHeading{
	
	font-weight: bold;
	font-family: Montserrat;
font-size: 16px;
}

.attOrderDetailsContent{
	
	
	font-family: Montserrat;
font-size: 18px;
}

.attProdDetailstext{
	
	
	font-family: Montserrat;
font-size: 32px;
}

.attProdDetailsHeading{
	
	font-family: Montserrat;
font-weight: bold;
font-size: 16px;
}

.attProdDetailsContent{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
}

.attOrderTotAmt{
	padding:15px;
	font-family: Montserrat;
font-weight: bold;
font-size: 16px;
}

.attOrderDetailsBackButton{
	
	padding-top: 10px;padding-bottom: 10px;padding-right: 25px;
	 				padding-left: 25px; cursor:pointer; background-color: white; color: #7F28C4; border:2px solid #7F28C4;
}

.attOrderDetailsEditButton{
	
	padding-top: 10px;padding-bottom: 10px;padding-right: 25px;
	 				padding-left: 25px; cursor:pointer; background-color: #7F28C4; color: white; border:2px solid #7F28C4;
}

/*orderDetailsPage-end*/

/*orderConfirmation-start*/

.attOrderConfirmationMsg{
	
	padding-top:20px;padding-bottom:20px;
	font-family: Montserrat;
	font-size: 60px;
	background: -webkit-linear-gradient(rgba(127, 40, 196, 1), rgba(226, 25, 124, 1),rgba(229, 35, 27, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.attOrderConfirmationText{
	
	padding-top:20px;padding-bottom:20px;
	font-family: Montserrat;
	font-size: 22px;
	width: 90%;

}

.attOrderConfirmationBody{
	
	width:80%;height:100%;background-color: #F6F9F9;padding-top:20px;padding-bottom:20px;
	
}

.attOrderConfirmationContent{
	
	padding-bottom:20px;text-align:left;padding-left:20px;
	font-family: Montserrat;
	font-size: 22px;
	
}

.attOrderConfirmationBackBtn{
	
	padding-top: 10px;padding-bottom: 10px;padding-right: 25px;
	padding-left: 25px; cursor:pointer; background-color: white; border:2px solid #7F28C4;
    color:#7F28C4;
    font-family: Montserrat;
font-weight: bold;
font-size: 16px;
}

/* .attOrderConfirmationSlot{
	
	padding:10px;background-color:lightgrey;height:100%;
} */
/*orderConfirmation-end*/

/*OrderEntry start*/



.attContentText{
font-family: Montserrat;
font-size: 18px;}




.btnDisabled{
	
	background-color:grey!important;
	color: #fff;
    padding: 15px 30px;
    text-align: center;
    border-radius: 4px;
    max-width:200px;
    font-size:15px;
}

.addItemsHeader{
	
	color:rgba(127, 40, 196, 1);font-family: Montserrat;font-size:24px;
}

.campHeader{
	
	font-family: Montserrat;font-size:20px;
}


.attUpdateBtn{
	
	padding-top: 15px;padding-bottom: 15px;padding-right: 30px;
	padding-left: 30px; cursor:pointer; background-color: #7F28C4; color: white; text-align:center;
}

.attIndicator{
	
	background-color: mistyrose;padding-top:20px;padding-bottom:20px;padding-left:15px;color:red;
}

.ccaQtyAlert{
	
	padding-top:20px;background-color:transparent;padding-bottom:20px;padding-left:15px;margin-bottom:10px;
	font-weight: bold;color:#fff;
}

/*OrderEntry ends*/

/*Indicator tooltips Desktop start*/

.tooltips .tooltiptext {
  visibility: hidden;
  width: 225px;
  background-color: #FFFFFF;
  color: #707677;
  position: absolute;
  z-index: 1;
  top: 100%;
  margin-left: -148px;
  opacity: 0;
  transition: opacity 0.3s;
  border: 1px solid #E4EDED;
  box-sizing: border-box;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: "Arial", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  padding: 8px 12px;
}

/* .tooltips .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}  */

.tooltips:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltips {
    position: relative;
    display: inline-block;
    padding-left: 5;
    cursor: pointer;
    /* border-bottom: 1px dotted black; */
}

/*Indicator tooltips Desktop end*/




/*mobile orderConfirmation-start*/

/* .mob_attOrderConfirmationSlot{
	width:100%;height:80%;background-color: lightgrey;
	padding-top:30px;padding-bottom:30px;padding-left:10px;
	text-transform: uppercase;font-size: medium; 
	
} */
.mob_attOrderConfirmationMsgs{
	
	padding-top:20px;padding-bottom:20px;
	font-family: Montserrat;
	font-size: 40px;
	background: -webkit-linear-gradient(rgba(127, 40, 196, 1), rgba(226, 25, 124, 1),rgba(229, 35, 27, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mob_attOrderConfirmationText{
	
	padding-top:10px;padding-bottom:20px;
	font-family: Montserrat;
	font-size: 22px;
	text-align:center;

}
.mob_attOrderConfirmationBody{
	
	width:100%;height:80%;background-color: #F6F9F9;padding-top:10px;padding-bottom:5px;
	
}
.mob_attOrderConfirmationContent{
	
	padding-bottom:10px;text-align:left;padding-left:12px;
	font-family: Montserrat;
	font-size: 22px;
	
}

.mob_attOrderConfirmationBackBtn{
	
	padding-top: 10px;padding-bottom: 10px;padding-right: 30px;
	padding-left: 30px; cursor:pointer; background-color: white; border:2px solid #7F28C4;
    color:#7F28C4;
    font-family: Montserrat;
font-weight: bold;
font-size: 16px;
width:95%;
}

/*mobile orderConfirmation-end*/

/*mobile orderLanding start*/

/* .mob_attMarketSlot{
	
	width:100%;height:80%;background-color: lightgrey;padding-top:35px;padding-bottom:35px;text-transform: uppercase;font-size: medium;text-align:center;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 16px;
}
 */
.mob_attEditOrdertext1{
font-family: Montserrat;
padding-bottom:15px;
font-size: 20px;
}

.w-27{
	width:27%!important;
}

.w-35{
	width:35%!important;
}

.mob_att-add-product__header {
    background-color: #F6F9F9;
    margin-bottom: 0;
    padding-left: 5px;
    padding-bottom:5px;
}

.mob_att-add-product__header-item {
  
    vertical-align: middle;
    font-family: Montserrat;
font-weight: bold;
font-size: 13px;
}

.mob_att-add-product__content {
    padding-left: 10px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.mob_att-add-product{
	
	border: 1px solid #e4eded;
}

.mob_attEditOrdersContent{
	
	font-family: Montserrat;
font-size: 16px;
}


.mob_attEditOrdertext2{
	
	padding-top:10px;padding-bottom:10px;
	font-family: Montserrat;
	font-size:15px;
}

.mob_attEditOrderButton{
	
	padding-top: 15px;
    padding-bottom: 15px;
        width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: #7F28C4;
    color: white;
    font-size: 16px;
      margin: auto;
    
}


.mob_attPlaceOrdertext1{
	
	font-family: Montserrat;
   
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.mob_attPlaceOrdertext2{
	font-family: Montserrat;
font-size: 32px;
text-align:center;
color: #7F28C4;
}

.mob_attPlaceOrdertext3{
	
	background: #E4EDED;
    border: 1px solid lightgrey;
    margin: auto;
    text-align: center;
    font-family: Montserrat;
    
    font-size: 20px;
    padding: 5px;
}

.mob_attPlaceOrderButton{
	padding-top: 15px;
    padding-bottom: 15px;
        width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: #7F28C4;
    color: white;
    font-size: 16px;
      margin: auto;
}

.mob-attPrevOrders{
	
	font-family: Montserrat;
padding-top:20px;
padding-bottom:20px;
font-size: 24px;
}

.mob_att-add-product {
    
    border: 1px solid #e4eded;
}

.mob_attPrevOrdersContent{
	
	font-family: Montserrat;
font-size: 16px;
}

.mob_attNoPrevOrders{
	
	font-family: Montserrat;
	font-size: 20px;
	
}


/*mobile orderLanding end*/

/*mobile order-details start*/

.mob_attBackHyperLink
{
	font-family: Montserrat;    
    font-weight: bold;
    font-size: 16px;
    color: #7F28C4;
}

.mob_attOrderDetailstext{
	
	padding-top:20px;padding-bottom:10px;
	font-family: Montserrat;
    font-size: 24px;
}

.mob_att-add-product {
    border: 1px solid #e4eded;
}

.w-37{
	
	width:37%!important;
}

.w-33{
	
	width:33%!important;
}

.mob_attOrderDetailsHeaderContent{
	
	font-family: Montserrat;
    font-size: 18px;
}

.mob-attProdDetailstext{
	font-family: Montserrat;   
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.mob_att-view-product__content {
    margin: 12px 15px 5px 5px;
}

.mob_attOrderDetailsContent{
	font-family: Montserrat;
font-size: 18px;
}

.mob_att-view-product__description{
	margin-top: 5px;
    padding-left: 5px;
   color: #a2acae;
   font-family: Montserrat;
font-size: 14px;
   
}


.mob_att-view-product__divider {
    margin: 10px -10px 5px 0px;
}

.mob_att-order_total{
	padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    font-family: Montserrat;
    /* font-style: normal; */
    font-weight: bold;
    font-size: 18px;
}

.mob_orderDetails_attEditOrderButton{
	
	padding-top: 15px;
    padding-bottom: 15px;
        width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: #7F28C4;
    color: white;
    font-size: 16px;
      margin: auto;
    
}

.mob_orderDetails_attGoBackButton{
	
	padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: white; border:2px solid #7F28C4;
    color:#7F28C4;
    font-size: 16px;
      margin: auto;
    
}


/*mobile order-details start*/


/*mobile order Entry start*/

.mob_addProduct{
font-family: Montserrat;font-size: 24px;padding-top:10px;padding-bottom:10px;}

.mob_AddProdcutBtn{
	width: 90%;height: 45px;background: #FFFFFF;color: rgba(127, 40, 196, 1);border: 2px solid rgba(127, 40, 196, 1);
}

.mob_attContentText{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
padding:15px;
}

.mob_attIndicator{
	
	background-color: mistyrose;padding: 15px;color:red;
}

.mob_buttonEnabled{
	
	width: 100%;height: 45px;background: rgba(127, 40, 196, 1) ;color: #FFFFFF;border: 2px solid rgba(127, 40, 196, 1);
}

.mob_buttonDisabled{
	
	width: 100%;height: 45px;background:rgba(127, 40, 196, 1) ;color: #FFFFFF;border: 2px solid rgba(127, 40, 196, 1);background-color:grey!important;
}

.mob_OrderDetailsHeading{
	
	font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

.OrderTotal{
	
	padding:15px;font-weight:bold;
}

.mob_attUpdateButton{
	
	width: 90%;height: 45px;background: #FFFFFF;color: rgba(127, 40, 196, 1);border: 2px solid rgba(127, 40, 196, 1);
}

.mob_att_view-customer__arrow{
margin-left: 0px;
margin-top: -15.5px;
position: absolute;
color: black;
}

.mob_ccaQtyAlert{
	
	background-color: #885fa9;color: white;padding: 15px;
	margin-bottom:10px;
}

/*mobile order Entry end*/


/*Regular order*/
.att_regularOrderInfo{


/* position: fixed!important; */

background-color: black;
/* color:white;
margin-left:-60px;
margin-right:-60px;  */
margin-top: 10px;
padding-top:10px;
padding-bottom:10px;
}

.att-deskwarning--spacing {
    padding-top:20px;
    padding-bottom:20px;
    display: flex;   
    flex-wrap: wrap;
    margin-left: 20px;
}

.att_regularOrderInfo_content{
	
font-family: Montserrat;
font-size: 18px;
/* padding-left:300px;
padding-right:300px; */
text-align: center;
color: white;
}


.mob_att_regularOrderInfo{
	
width: 100%;
max-width: 768px;
position: fixed!important;
height: 80px;
background-color: black;
z-index: 10;
margin-top:10px;
color:white;
}


.mob_att_regularOrderInfo_content{
	
	font-family: Montserrat;
font-size: 15px;
padding-left: 0px;
padding-right: 0px;
}

.mob_att_regOrderSpacing{
	
	height:80px;
}

/*Regular Order ends*/

/*mobile Indicator Tooltip*/

.tooltips1 .tooltiptext1 {
  visibility: hidden;
  width: 230px;
  background-color: #FFFFFF;
  color: #707677;
  position: absolute;
  z-index: 1;
  top: -167%;
  margin-left: -55px;
  opacity: 0;
  transition: opacity 0.3s;
  border: 1px solid #E4EDED;
  box-sizing: border-box;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: "Arial", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  padding: 8px 12px;
}

.tooltips1 {
    position: relative;
    display: block;
   /* padding-left: 5;*/
    /* border-bottom: 1px dotted black; */
}

.showTooltip {
	visibility: visible!important;
    opacity: 1!important;
}

#tooltip-close1
{
    font-size: 25px;
    float: right!important;
    cursor: pointer;
}


/*mobile Indicator Tooltip*/