
@mixin button-basic() {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-family: $bold-monts;
    text-align: center;
    &:hover,
    &:active,
    &:focus {
        outline: none;
        text-decoration: none !important;
    }
    &.negative {
        color: $color-white;
    }
}
@mixin button-basic-fill() {
    color: $color-white;
    padding:  20px 30px;
    text-align: center;
    transition: all 1s;
    border-radius: 4px;
    &:hover,
    &:active,
    &:focus {
        color: $color-white;
        z-index: 5;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }
    &.small {
        padding:  10px 20px;
        font-size: 14px;
    }
}




.av-button-primary {
    @include button-basic();
    @include button-basic-fill();
    background-image: $color-gradient;
    display: inline-block;
}
.av-button-secondary {
    @include button-basic();
    @include button-basic-fill();
    background-color: $color-primary;
}
.av-button-tertiary {
    @include button-basic();
    display: inline-flex;
    align-items: center;
    color: $color-primary;
    svg {
        fill: $color-primary;
        width: 26px;
        height: 26px;
        margin: 0 10px;
    }
    &:hover,
    &:active,
    &:focus {
        color: $color-primary;
    }
}
.av-button-icon {
    @include button-basic();
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: $color-dark-30;
    }
}
.av-button-outline {
    @include button-basic();
    color: $color-primary;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px $color-primary;
    &:hover {
        background-color: $color-dark-10;
        border: solid 1px transparent;
        color: $color-primary;
    }
    &.small {
        padding: 10px 20px;
        font-size: 14px;
    }
}
.av-link {
    $size-padding: $size-text;
    font-family: $regular-monts;
    font-size: $size-text;
    color: $color-primary;
    padding: $size-padding $size-padding $size-padding 0rem;
    display: block;
    @include button-basic();
    @mixin icons-button($color){
        color: $color;   
    }
    &-icon {
        @include icons-button($color-dark-light);
        @include button-basic();
        display: inline-flex;
        justify-content: center;
    }
    &-icon.primary {
        @include icons-button($color-primary);
        @include button-basic(); 
    }
    &-inline {
        color: $color-primary;
        @include button-basic();
    }
    &.negative {
        color: $color-white;
    }
}