

//Basic colors
$color-white : #fff;
$color-light-white: #F7F7F7;
$color-dark-lighter: scale-color($color-white, $lightness: -6%);
$color-dark-light: scale-color($color-white, $lightness: -60%);
$color-dark: #181818;
$color-dark-footer: #293132;
$color-darker-footer: #192228;
$color-dark-50: scale-color($color-white, $lightness: -50%);
$color-dark-10: rgba(200,200,200,0.1);
$color-dark-30: rgba(200,200,200,0.3);
$color-overlay: rgba(0,0,0,0.7);

$color-text: $color-dark;

// Main color
//$color-primary: #7F28C4;
$color-primary: #FF49A3;
$color-primary-light: scale-color($color-primary, $lightness: 20%);
$color-primary-dark: scale-color($color-primary, $lightness: -20%);

//Secondary color
$color-secondary: #FF49A3;
$color-secondary-dark: #EE2F4E;
$color-secondary-light: #F9B5B2;


//Gradient color
$color-gradient-1: #9113B0;
$color-gradient-2: #C1047E;
$color-gradient-3: #E23679;
$color-gradient: linear-gradient(to right, $color-gradient-1, $color-gradient-2, $color-gradient-3);

$color-conoce-avon1: #042E4F;
$color-conoce-avon2: #79366D;

$color-nosolas-primary: #F68B23;
$color-nosolas-secondary: #0C3E65;

$color-hg-primary: $color-gradient-1;

$color-protinol: #061E3F;
$color-protinol-secondary: #0E5781;
$color-protinol-gold: #AA7B41;


