@mixin av-tabs-active {
    font-family: $bold-monts;
    border-bottom: 3px solid $color-primary;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
@mixin av-tabs {
    border: 1px solid $color-dark-30;
    background-color: $color-white;
    font-family: $regular-monts;
    color: $color-text;
    padding: 15px 0px;
    font-size: $size-text - 4;

    &.active {
        @include av-tabs-active();
    }
    
}
@mixin av-input-checkbox{
    cursor: pointer;
    width: 17px;
    height: 17px;
}

@mixin av-input-text {
    font-family: $regular-monts;
    color: $color-text;
    padding: 6px;
    border: none;
    border-bottom: 1px solid $color-text;
    background-color: $color-white;
    box-shadow: none;
    transition: border-bottom 1s;
    border-radius: 0px;
    min-width: 42px;
    width: auto;

    &:hover {
        border-bottom: 1px solid $color-dark-light;
        outline: none;
    }
    &:focus {
        border-bottom: 1px solid $color-primary;
        outline: none;
    }   
}


@mixin av-table {
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    text-align:center;
    > tbody > tr:first-child > td, > thead > tr > td {
        font-family: $semi-bold-monts;
        font-size: 14px;
        color: $color-text;
        padding: 17px 0px;
        background-color: $color-dark-lighter;
        text-align: center;
    }
    > tbody > tr:first-child {
        background-color: $color-dark-lighter;
    }
}


table.order_table {
    box-shadow: 0px 0px 4px $color-dark-light;
    padding: 5px 10px;
    text-align: right;
    width: 280px;
    @media (min-width:$media-3){
        width: 350px;
    }
    @media (min-width:$media-4){
        width: 400px;
    }
    > tbody {
        > tr:nth-child(1) td {
            font-size: 13px;
            font-family: $bold-monts;
            border-bottom: 1px solid $color-text;
        }
        .bg_lightpinkheader {
            font-size: 12px;
            padding: 4px;
            background-color: $color-dark-lighter;
         }
         .bg_lightpink,.bg_lightpinklast {
            font-family: $bold-monts;
            color: $color-primary;
            font-size: 12px;
            padding: 3px;
         }
    }
}