
.av-conv-header {
    background-image: url('#{$route-images}/responsabilidad-social/violence-woman.jpg');
}
@mixin image-placer($number){
    .av-conv-#{$number} {
        background-image: url('#{$route-images}/responsabilidad-social/violence-banner-#{$number}.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 200px;
    }
    
}

@include image-placer(1);
@include image-placer(2);
@include image-placer(3);

.av-conv-row .w-100 {
    height: $size-text*2;
    @media (min-width:$media-2) {
        height: $size-text*4;
    }
}
