.avLoaderMJ {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    > div {
        height: 100%;
        &.avLoaderText {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 18% 25px;
            @media (min-width:$media-1) {
                width:50%;
            }
            @media (min-width:$media-2) {
                width: 45%;
            }
            @media (min-width:$media-4) {
                width:40%;
            }
            .av-text {
                font-size: 20px;
                color: #ea2887;
                text-align: center;
            }
            img{
                width: 55%;
                display: block;
            }
        }
        &.avLoaderImage {
            flex: 1;
            background-image: url('https://estebanavon.github.io/av/assets/img/avConciertoBackgroundLoader.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            display: none;
            @media (min-width:$media-2) {
                display: block;
            }
        }
    }
}
.avLoader {
    width: 50%;
    height: 5px;
    display: block;
    overflow: hidden;
    margin: 50px auto;
    background-color: #f1f1f1;
    position: relative;
    > div {
        position: absolute;
        height: 40px;
        width: 80px;
        background-color: #7F28C4;
        top: -6px;
        left: -100px;
        transform: translateX(-100px);
        opacity: 0;
        animation-name: avLoader;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
}
@keyframes avLoader {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    40% {
        width: 200px;
    }

    99% {
        transform: translateX(600px);
        opacity: 1;
        width: 50px;
    }
    100%{
        transform: translateX(-100px);
        opacity: 0;
    }
}
.av-concert-subtitle {
    color: #A11F1D;
    font-size: 35px;
    line-height: 32px;
    font-family: $black-zona;
    text-transform: uppercase;
    margin-bottom: 28px;
    font-style: normal;
    @media (min-width:$media-2) {
        font-size: 39px;
        line-height: 40px;
    }
}
.av-concert-title {
    color: $color-text;
    font-size: 40px;
    font-family: $black-zona;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-style: normal;
    @media (min-width:$media-2) {
        font-size: 47px;
    }
}

.steper-container {
    display: flex;
    .av-step-image {
        opacity: 0;
        width: 0;
        overflow: hidden;
        box-shadow: 2px 0px 20px rgba(0,0,0,0.3);
        transition: background-image 1s;

        @media (min-width:$media-1) {
            width: 45%;
            opacity: 1;
            display: block;
        }
        @media (min-width:$media-2) {
            width: 50%;
            height: 75vh;
        }
    }
    .steps {
        flex: 1;
        [class^="step"]{
            padding: 25px;
            min-height: 80vh;
            @media (min-width:$media-1) {
                padding: 50px;
                min-height: 85vh;
            }
            @media (min-width:$media-2) {
                padding: 80px 100px;
                
            }
        }
    }
    .concert-list {
        font-size: $size-text * 1.5;
        text-transform: uppercase;
        font-family: $bold-monts;
        padding: 0px;
    }
    .av-mobi-image {
        height: 180px;
        margin: 30px -25px;
        box-shadow: 0 0px 11px rgba(0,0,0,0.3);
        @media (min-width:$media-1) {
            display: none;   
        }
    }
}
.av-concert-banner {
    background-image: url('#{$route-images}/concierto-avon/avConciertoHeader.jpg');
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    display: flex;
    align-items: center;
    padding: 30px;
    @media (min-width:$media-1) {
        background-position: right center;
    }
    @media (min-width:$media-2) {
        height: 35vh;
        padding: 40px 100px;
    }
    .av-concert-banner-text {
        transform-origin: left center;
        @media (min-width:$media-2) {
            transform: scale(1.2);
        }
    }
}

.av-concierto {
    background-image: url('#{$route-images}/conciertoBasesHeaderMobile.jpg');
    @media (min-width:$media-2) {
        background-image: url('#{$route-images}/conciertoBasesHeader.jpg');
    }
}
@mixin av-concertImg($number:1) {
    .av-concert#{$number} {
        background-image: url('#{$route-images}/concierto-avon/avConciertoHow#{$number}.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }    
}
@include av-concertImg(1);
@include av-concertImg(2);
@include av-concertImg(3);
@include av-concertImg(4);
@include av-concertImg(5);
@include av-concertImg(6);
@include av-concertImg(7);
@include av-concertImg(8);
@include av-concertImg(9);