
.av-ec-header {
    background-image: url('#{$route-images}/etica-cumplimiento/avon-office.jpg');
}
.av-ec-values {
    p {
        font-size: 1.5rem;
        font-family: zona-pro-light;
        color: white;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        @media (min-width:$media-1){
            font-size: 2.2rem;
            text-align: left;
            width: auto;
        }
    }
}
@mixin card-image($number){
    .av-card-#{$number} {
        background-image: url('#{$route-images}/etica-cumplimiento/banner-ec-#{$number}.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
}

@include card-image(1);
@include card-image(2);
@include card-image(3);
@include card-image(4);
@include card-image(5);

.av-parallax-container {
    position: relative;
    overflow: hidden;
    .av-parallax-content {
        background-image: url('./imgTst/ce-10.jpg');
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        width: 100%;
        height: 160%;
        z-index: 1;
    }
    .row {
        position: relative;
        z-index: 2;
        background-color: transparent !important;
    }
}