.av-concierto {
    background-image: url('#{$route-images}/conciertoBasesHeaderMobile.jpg');
    @media (min-width:$media-2) {
        background-image: url('#{$route-images}/conciertoBasesHeader.jpg');
    }
}

.av-concert-2, .av-concert-3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.av-concert-1 {
    background-image: url('#{$route-images}/avConciertoHeader.jpg');
}
.av-concert-2 {
    background-image: url('#{$route-images}/avConciertoBackground.jpg');
}
.av-concert-3 {
    background-image: url('#{$route-images}/avConciertoBackgroundLoader.jpg');
}
.av-ec-header {
    background-image: url('#{$route-images}/etica-cumplimiento/avon-office.jpg');
}
.av-ec-values {
    p {
        font-size: 1.5rem;
        font-family: zona-pro-light;
        color: white;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        @media (min-width:$media-1){
            font-size: 2.2rem;
            text-align: left;
            width: auto;
        }
    }
}
@mixin card-image($number){
    .av-card-#{$number} {
        background-image: url('#{$route-images}/etica-cumplimiento/banner-ec-#{$number}.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
}

@include card-image(1);
@include card-image(2);
@include card-image(3);
@include card-image(4);
@include card-image(5);

