.av-en-title{
    height: 10rem;
    width: 100%;
    padding: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media (min-width:$media-1){
        height: 55vh;
        margin-bottom: 5rem;
    }
}
.av-en-wrapper{
    position: relative;
    padding: 2rem;
    left: 0%;
    width: 98%;
    background-color: $color-white;

    @media (min-width:$media-1) {
        position: absolute;
        bottom: 0rem;
        padding: 2.5rem;
        width: 60%;
    }
    @media (min-width:$media-2) {
        left: 7%;
        padding: 3rem 4rem 0rem 4rem;
    }
    @media (min-width:$media-3){
        max-width: 35rem;
    }
    .av-title-text {
        @include titile-mixin($color-dark);
        font-size: $size-text*2.1;
        text-align: left;
        margin-bottom: $size-text;
        @media (min-width:$media-0) {
            font-size: $size-text*2.9;
        }
    }
    .av-en-controls {
        position: absolute;
        top: -2rem;
        right: 0;

        @media (min-width:$media-1){
            right: -4rem;
            top: unset;
        }
        
        > a {
            text-decoration: none;
            padding: 1rem;
            background-color: $color-dark;
            color: $color-white;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.4s;
            &:hover {
                background-color: $color-dark-light;
            }
            @media (min-width:$media-1) {
                padding: 1.5rem;
            }
        }
    }
    .av-indicators{
        display: flex;
        justify-content: space-around;
        width: 30%;
        > div {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px $color-text solid;
        }
        .active {
            background-color: $color-text;
        }
    }
}

.av-cta {
    display: block;
    min-height: 12rem;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    &:hover{
        .av-overlay {
            width: 95%;
            height: 95%;
        }
        .av-button-secondary {
            width: 40%;
        }
    }
    @media (min-width:$media-1){
        min-height: 16rem;
    }

    .av-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        transition: all 1.5s;
        background-color: rgba(30,30,30,0.8);
        z-index: 1;
        
    }
    .av-cta-content {
        padding: 1.5rem;
        color: $color-white;
        z-index: 5;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @media (min-width:$media-1){
            padding: 3rem;
        }
        .av-subtitle {
            @include subtitle(1.4rem);
            @include negative(left);
            font-family: $light-monts;
            width: 100%;
            
            @media (min-width:$media-1){
                width: 60%;
            }
        }
    }
    &-1{
        background-image: url('#{$route-images}/en-cta-1.jpg');
    }
    
    &-2{
        background-image: url('#{$route-images}/en-cta-2.jpg');
    }
    
    &-3{
        background-image: url('#{$route-images}/en-cta-3.jpg');
    }
    
}
.av-en-controls {
    .av-card {
        height: 230px;
        @media (min-width:$media-1){
            height: 300px;
        }
    }
}

.av-card {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $color-light-white;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: background-position 5s;
    

    &.av-card-select:hover{
        background-position: center right;
        .av-card-wrapper {
            width: 100%;
            background-color: $color-dark-lighter;
        }
    }
    &.av-card-holder {
        min-height: 250px;
        @media (min-width:$media-1) {
            min-height: 300px;
        }
    }
    .av-card-wrapper {
        position: absolute;
        bottom: -1px;
        left: 0;
        background-color: $color-light-white;
        padding: 0.9rem;
        width: 90%;
        transition: all 0.7s;
        .av-text { 
           margin-bottom: 0px; 
        }
        small {
            font-size: 0.9rem;
        }
    }
    .av-card-image {
        height: 10rem;
        overflow: hidden;
        @media (min-width:$media-3) {
            height: 13rem;
        }
    }
    .av-card-text {
        padding: 1.4rem;
        background-color: $color-light-white;
        min-height: 180px;
        flex-grow: 1;
        .av-card-title {
            font-size: 1.2rem;
            font-family: $regular-monts;
            margin-bottom: 1rem;
            color: $color-text;
        }
    }
}


.av-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(3,190px);
    grid-template-columns: repeat(2,50%);
    grid-gap: 0.5rem;
    padding: 0 0.5rem;
    @media (min-width:$media-1) {
        grid-template-rows: 300px 40px 300px;
        grid-template-columns: 45% 27% 27%;
        grid-gap: 1.4rem;
        padding: 0;
    }
}
.av-number {
    font-size: $size-text * 4;
    font-family: $semi-bold-monts;
    color: $color-text;
    margin-right: 1rem;
}
@mixin en-card($number){
    .av-card{
        background-image: url('#{$route-images}/en-products-#{$number}.jpg');
    }
    
}
.en-card-1 {
    grid-row: 1/1;
    grid-column: 1/1;
    @include en-card(1);
    @media (min-width:$media-1) {
        grid-row: 1/3;
        grid-column: 1/1;
    }
}
.en-card-2 {
    grid-row: 1/1;
    grid-column: 2/3;
    @include en-card(2);
    @media (min-width:$media-1) {
        grid-row: 1/1;
        grid-column: 2/3;
    }
}
.en-card-3 {
    grid-row: 2/3;
    grid-column: 1/1;
    @include en-card(3);
    @media (min-width:$media-1) {
        grid-row: 1/3;
        grid-column: 3/4;
    }
}
.en-card-4 {
    grid-row: 2/3;
    grid-column: 2/3;
    @include en-card(4);
    @media (min-width:$media-1) {
        grid-row: 3/4;
        grid-column: 1/1;
    }
}
.en-card-5 {
    grid-row: 3/4;
    grid-column: 1/1;
    @include en-card(5);
    @media (min-width:$media-1) {
        grid-row: 2/4;
        grid-column: 2/3;
    }
}
.en-card-6 {
    grid-row: 3/4;
    grid-column: 2/3;
    @include en-card(6);
    @media (min-width:$media-1) {
        grid-row: 3/4;
        grid-column: 3/4;
    }
}

@mixin av-kit($number){
    .av-kit-{
        &#{$number} {
            background-image: url('#{$route-images}/en-kit-#{$number}.jpg') !important;
            min-height: 12rem;
        }
    }
}
@include av-kit(1);
@include av-kit(2);
@include av-kit(3);
@include av-kit(4);
@include av-kit(5);
@include av-kit(6);

@mixin en-woman($number){
    .en-woman-{
        &#{$number} {
            background-image: url('#{$route-images}/en-woman-#{$number}.jpg') !important;
        }
    }
}
@include en-woman(1);
@include en-woman(2);
@include en-woman(3);
@include en-woman(4);

.en-team-1 {
    background-image: url('#{$route-images}/en-team-1.jpg');
}
.en-device-1 {
    background-image: url('#{$route-images}/en-device-1.jpg');
}

.p-relative {
    position: relative;
}
.book-wrapper {
    position: relative;
    height: 40vh;
}
.book1a,.book1b {
    position: absolute;
    z-index: 1;
}
.book1a {
    width: 60%;
    left: 10%;
}
.book1b {
    width: 70%;
    left: 15%;
}
.animationbook{
    animation-name: animationBook;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes animationBook{
    0%{
        transform: translateX(0px);
        transform: translateZ(1);
    }
    50%{
        transform: translateX(90%);
    }
    100%{
        transform: translateX(0px);
    }
}