.layout.layout-canvas-a {
    background-color: $color-gradient !important;
}
.header {
    width: 50% !important;
    padding: 10%;
    background-color: $color-white;
}
.av-controls {
    margin-bottom: 8px;
    div.sc-formfield-label{
        font-family: $regular-monts;
        transform: translate(8px,23px);
        transition: transform 0.5s;
        display: inline-block;
        z-index: 1;
        label {
            z-index: 1;
        }
        &.activeLabel, 
        &.activeLabel label {
            transform:translate(5px,0px);
            text-transform: uppercase;
            font-size:12px !important;
            color:#7F28C4 !important;
        }
    }
    div.sc-formfield-input {
        z-index: 2;
        input {
            z-index: 2;
            min-width: 312px;
            padding: 6px;
            border: none;
            border-bottom: 1px solid $color-text;
            font-family: $regular-monts;
            font-size: 16px;
            &:active,
            &:focus {
                outline: none;
                border: none;
                border-bottom: 1px solid $color-primary;
            }
        }
    }
}
.av-controls-date {
    margin-bottom: 8px;
    div.sc-formfield-label{
        font-family: $regular-monts;
        transform: translate(5px,0px);
    }
    div.sc-formfield-input {
        select {
            border: none;
            border-bottom: 1px solid black;
            padding-bottom: 1px;
            width: 80px;
            margin: 10px 5px;
            font-size: 16px;
            &:active,
            &:focus {
                outline: none;
                border: none;
                border-bottom: 1px solid black;
            }
        }
    }
}