.vanity-icon-copy:before {
    content: "\e908";
  }
  .vanity-icon-email:before {
    content: "\e909";
  }
  .vanity-icon-facebook:before {
    content: "\e90a";
  }
  .vanity-icon-whatsapp:before {
    content: "\e90b";
  }
  .vanity-icon-ebrochure:before {
    content: "\e902";
  }
  .vanity-icon-info:before {
    content: "\e903";
  }
  .vanity-icon-list:before {
    content: "\e904";
  }
  .vanity-icon-logout:before {
    content: "\e905";
  }
  .vanity-icon-order-filled:before {
    content: "\e906";
  }
  .vanity-icon-order:before {
    content: "\e907";
  }
  .vanity-icon-locked:before {
    content: "\e900";
  }
  .vanity-icon-profile:before {
    content: "\e901";
  }
  