
 @mixin img-fallback($color:$color-white, $spacing: 0px) {
    color: $color;
    font-family: $safe-font;
    text-align: center;
    font-size: $size-text - 2;
    letter-spacing: $spacing;
    min-height: 50px;
    background-color: $color-dark-light;
    border: none;
    outline: none;
}
@mixin titile-mixin($color:$color-white){
    color: $color;
    font-family: $black-zona;
    text-transform: uppercase;
    line-height: $line-height * 2;
    font-style: normal;
    word-break: break-word;
    margin: $margin-none;

}
.av-title-container {
    position: relative;
    height: 50vh;
    padding: $margin-sm;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-image: $color-gradient;
    background-color: $color-primary;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
    transition: all 1s;

    @media (min-width:$media-1) {
        padding: $margin-sm;
        margin-bottom: $margin-lg;
        height: 45vh;
    }
    @media (min-width:$media-2) {
        padding: $margin-lg;
    }
    .av-title-text{
        
        @include titile-mixin();
        font-size: 4rem;
        text-align: right;

        @media (min-width:$media-1) {
            font-size: 5rem;
            line-height: $line-height * 2;
        }
        @media (min-width:$media-2) {
            font-size: 7rem;
            line-height: $line-height * 2.7;
        }

        .av-title-stroke {
            @supports (-webkit-text-stroke: 1px black) {
                -webkit-text-stroke: 1px white;
                -webkit-text-fill-color: transparent;
              }
        }

    }

    .av-title-support {
        color: white;
        font-size: $size-text;
        font-family: $semi-bold-zona;
        text-align: right;
        line-height: $size-text;
        font-style: normal;

        @media (min-width:$media-1) {
            margin: 2rem 0;
            font-size: 3rem;
        }
    }

    .av-title-brand {
        width: 130px;
        @include img-fallback($color-white,16px);
        @media (min-width:$media-1) {
            margin-top: $size-text;
            width: 160px;
        }
    }
}


// TEXTS


.av-subtitle {
    @include subtitle($size-text * 1.9);
    @include negative();

    &-support {
        @include subtitle($size-text * 1.6);
        @include negative();
    }
    
}

.av-text{
    @include text-mixin();

    @include negative;
    
    @include highlight();
    
    &.av-text-small {
        font-size: $size-text - 2;
        line-height: 20px;
        p {
            margin-bottom: $size-text;
        }
    }
    &.av-text-large {
        font-size: $size-text + 5;
        line-height: 25px;
    }

    &:last-child{
        margin-bottom: $margin-none;
    }
}
.av-pink {
    color: $color-primary;
}

// LISTS


.av-list {
    font-family: $regular-monts;
    padding-left: $size-text;
    line-height: $line-height;
    font-size: $size-text;
    color: $color-text;
    list-style-type: disc;
    @include highlight();
    
    li {
        margin-bottom: $size-text / 2.5;
        display: block;
    }
    
    &.av-list-item {
        padding-left: 0;
        @include negative();
        li {
            padding: 0 0.5rem;
            border-bottom: 1px $color-dark-lighter solid;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0;

            [class^='material-icons'] {
                color: $color-primary;
            }
            &:hover:not(.av-list-divider) {
                background-color: $color-dark-10;
            }
            .av-list-spacer{
                flex: 1;
            }
        }
        &.noactive{
            display: none;
        }   
    }
    
    .av-list-title {
        font-size: $size-text;
        font-family: $bold-monts;
        padding: ($size-text * 2) 0rem $size-text 0rem !important;
        color: $color-text;
        display: block;
        &:hover{
            background-color: unset !important;
        }
    }
    &.av-footer-list {
        list-style-type: none;
        text-align: left;
        li a {
            color: $color-white;
        }
        .av-list-title {
            color: $color-white;
        }
    }
}
.av-hashtag {
    font-family: $light-zona;
    margin: 1rem 0;
    color: $color-text;
    font-size: $size-text + 2;
}


// CARDS

.av-card {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $color-light-white;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: background-position 5s;
    

    &.av-card-select:hover{
        background-position: center right;
        .av-card-wrapper {
            width: 100%;
            background-color: $color-primary;
        }
    }
    &.av-card-unable{
        transition: transform 1.5s;
        &:hover{
            transform: translateY(-1rem);
            box-shadow: 0 0 20px rgba(0,0,0,0.15);
            cursor: pointer;
        }
    }
    &.av-card-holder {
        min-height: 250px;
        @media (min-width:$media-1) {
            min-height: 300px;
        }
    }
    .av-card-wrapper {
        position: absolute;
        bottom: -1px;
        left: 0;
        background-color: $color-secondary;
        padding: 10px;
        width: 90%;
        transition: all 0.7s;
        z-index: 10;
        .av-text { 
           margin-bottom: 0px;
           color: $color-white;
        }
        small {
            font-size: $color-text - 0.3rem;
        }
    }
    .av-card-image {
        overflow: hidden;
    }
    
    .av-card-text {
        padding: 20px;
        background-color: $color-light-white;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        
        .av-card-title {
            font-size: $size-text + 1;
            font-family: $bold-monts;
            margin-bottom: 5px;
            color: $color-text;
            padding: 0px;
        }
        .av-button-tertiary {
            margin-top: auto;
        }
        
    }
}



//  S

.av-table-container {
    overflow-x: auto;
    width: 100%;
    .av-table {
        width: 100%;
        border-collapse: collapse;
        thead tr {
            background-color: $color-dark-light;
            td {
                padding: ($size-text * 1.7);
                color: $color-white;
                font-weight: bolder;
                font-size: $size-text;
            }
        }
        tr:nth-child(even){
            background-color: $color-dark-lighter;
        }
        td {
            padding: $size-text $size-text * 1.8;
            font-family: $regular-monts;
            font-size: $size-text;
        }
    }    
}

.av-brand {
    width: 160px;
    @media (min-width:$media-1){
        width: 190px;
    }
}


.av-gradient {
    background-image: $color-gradient;
    margin: 0 (-$margin-default);
}
.av-gray {
    background-color: $color-dark-lighter;
    margin: 0 (-$margin-default);
}
.av-spacer {
    height: 2rem;
    width: 100%;
    @media (min-width:$media-1){
        height: 5rem;
    }
}
.w-100 {
    width: 100% !important;
}
.av {
   &-lg-icons {
    font-size: 2rem;
   }
   &-sm-icons {
    font-size: 1rem;
   } 
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}

// LOADER

.av-loader{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: $color-overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    .av-loader-content{
        width: 90%;
        height: 40vh;
        background-image: $color-gradient;
        padding: 5%;
        border-radius: 10px;
        box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
        text-align: center;
        @media (min-width:$media-2){
            width: 60%;
        }
    }
}


// PANELS

.av-panel {
    .av-panel-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $bold-monts;
        font-size: $size-text * 1.2;
        padding: 30px 20px 7px 20px;
        border-bottom: 1px solid $color-dark-light;
        cursor: pointer;
        transition: transform 0.5s;
        i {
            font-size: $size-text * 1.2;
        }
        .active {
            transform: rotate(180deg);
        }
        h4 {
            font-size: $size-text * 1.2;
        }
    }
    .av-panel-content {
        padding: 0;
        height: 0px;
        opacity: 0;
        transition: all 0.5s;
        overflow: hidden;
        &.active{
            padding: 30px;
            height: auto;
            opacity: 1;
        }
    }
}



.av-tooltip {
    position: relative;
    .tooltiptext {
        visibility: hidden;
        width: auto;
        font-family: $bold-monts;
        font-size: $size-text - 2;
        background-color: $color-white;
        color: $color-text;
        text-align: center;
        padding: 7px 10px;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        top: -80%;
        white-space: nowrap;
        z-index: 100;
        box-shadow: 0 0 5px rgba(0,0,0,0.4);
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: $color-white transparent transparent transparent;
          }
      }
      &:hover .tooltiptext {
        visibility: visible;
      }
    
  }
 
 .av-fallback{
     @include img-fallback($color-dark);
 }

@mixin fade-settings ($direction:-100px){
    opacity: 0;
    transform: translateX($direction);
    transition: all 1s;
    &.fade-active {
        opacity: 1;
        transform: translateX(0);
    }
}

 .av-fade {
    @include fade-settings ();
    &-reverse {
        @include fade-settings(100px);
    }
}
.av-prllx-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;

    .av-prllx-image {
        width: 100%;
        height: 150%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        position: absolute;
    }
    .av-prllx-content {
        padding-top: $margin-md;
        padding-bottom: $margin-md;
        z-index: 2;
        position: relative;
    }
}
.av-frame {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: 1px $color-white solid;
    border-radius: 4rem 0;
    align-self: center;
}
.flex-1{
    flex-grow: 1;
}

.av-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.78);
    &-content {
        background-color: #ffffff;
        width: 100%;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        max-width: 650px;
        margin: auto;
        border-radius: 4px;
        position: relative;
    }
    &-close {
        font-size: 20px;
        color: $color-white;
        background-color: $color-primary;
        cursor: pointer;
        width: auto;
        padding: 20px 25px;
        position: absolute;
        top: 0;
        right: 0;
        transition: all 0.4s;
        &:hover {
            color: $color-primary;
            background-color: $color-white;
        }
    }
    &-footer {
        padding: 12px;
        color: rgba(255, 255, 255, 0.5);
    }
    &-background{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
        z-index: 9990;
        left: 0;
    }
    img {
        width: 100%;
    }
}

.av-scroll-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include negative();
    span {
        font-family: $regular-monts;
        margin: 0 20px;
        font-size: $size-text;
    }
    i,svg {
        animation-name: scrollAnimation;
        animation-duration: 1.6s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
        opacity: 0;
    }
}
@keyframes scrollAnimation {
    0%{
        transform: translateY(-15px);
    }
    10%{
        opacity: 1;
    }
    90%{
        transform: translateY(10px);
    }
    95%{
        opacity: 0;
    }
    100%{
        transform: translateY(-5px);
    }
}
.av-defs {
    width: 0;
    height: 0;
    overflow: hidden;
}
.av-footer {
    padding: 70px 20px;
    background-color: $color-dark-footer;
    color: $color-white;
    a {
        color: $color-white;
        font-size: 17px;
    }
    svg {
        fill: $color-white;
    }
    @media (min-width:$media-1) {
        padding: 8%;
    }
    h4 {
        font-size: $size-text;
    }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    opacity: 0;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }