

*{
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{ 
    
    display: block;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: $regular-monts;
    
    // Bootstrap container reset

    .container {
        @media (min-width:576px){
            max-width: 100%;
        }
        @media (min-width:768px){
            max-width: 100%;
        }
        @media (min-width:992px){
            max-width: 100%;
        }
        @media (min-width:1200px){
            max-width: 1170px;
        }
        padding-right: 0;
        padding-left: 0;
    }
    .h1, .h2, .h3, h1, h2, h3 {
        margin: 0;
    }
}

// Magnolia Exceptions

video:focus {
    outline: none;
  }
.multimedia-title h2 {
    @include subtitle($size-text * 1.9);
    margin: 2rem;
}
.multimedia-layout-wrapper .video-text-item h3 {
    @include subtitle($size-text);
    margin: 2rem;
}
a {
    text-decoration: none;
}


