

*{
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{    
    display: block;
    margin: 0 auto;
    //overflow-x: hidden;
    font-family: $regular-monts;
    .h1, .h2, .h3, h1, h2, h3 {
        margin: 0;
    }
}


