
$dev-font: './../fonts';
$dev-font-team: './../../fonts';
$dev-images: './../img';

// Utilizar esta ruta si el objetivo es Produccion

$prod-font: './../fonts';
$prod-images: './../images';
//$prod-images: '/dam/avon-mx/static/images';

//Configuración de rutas sin condicionante

$route-images: $dev-images;
$route-font: $dev-font;
