.av-slider{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    .av-slider-control {
        position: absolute;
        top: 0;
        height: 100%;
        width: 200px;
        z-index: 10;
        border: none;
        background-color: transparent;
        color: $color-text;
        cursor: pointer;
        &:active{
            background-color: $color-dark-10;
        }
        &:focus{
            outline: none;
            border: none;
        }
        &:first-child {
            left: 0;
        }
        &:last-child {
            right: 0;
        }
    }
    .av-slider-content {
        box-sizing: border-box;
        margin: 0;
        width: 100%;
        overflow: hidden;
        display: flex;
        z-index: 0;
        
        .av-slider-item {
            opacity: 0;
            display: none;
            transition: transform 0.5s;
            min-width: 100%;
            
            &.active {
                opacity: 1;
                display: flex;
            }
        }
        &.slide {
            .av-slider-item {
                z-index: 1;
            }
            .lastOne {
                opacity: 0;
                z-index: 2;
                display: flex;
                transform: translateX(0);
            }
            .av-slider-item {
                z-index: 3;
                animation-name: slideInwards;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }
        }
        @keyframes slideInwards {
            0%{
                opacity: 0;
                transform: translateX(600px);
            }
            30%{
                opacity: 1;
            }
            100%{
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
}