.av-slider{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    .av-slider-control {
        position: absolute;
        top: 0;
        height: 100%;
        width: 4rem;
        z-index: 10;
        border: none;
        background-color: transparent;
        color: $color-text;
        cursor: pointer;
        &:active{
            background-color: $color-dark-10;
        }
        &:focus{
            outline: none;
            border: none;
        }
        &:first-child {
            left: 0;
        }
        &:last-child {
            right: 0;
        }
    }
    .av-slider-content {
        box-sizing: border-box;
        margin: 0;
        width: 100%;
        overflow: hidden;
        display: flex;
        z-index: 0;
        
        .av-slider-item {
            opacity: 0;
            display: none;
            transition: transform 0.5s;
            z-index: 1;
            min-width: 100%;
            
            &.lastOne {
                opacity: 0;
                z-index: 2;
                display: flex;
                transform: translateX(0);
            }
            &.active {
                opacity: 1;
                display: flex;
                z-index: 3;
                //animation-name: slideInwards;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }

            @keyframes slideInwards {
                0%{
                    opacity: 0;
                    transform: translateX(400px);
                }
                10%{
                    opacity: 1;
                }
                100%{
                    transform: translateX(0);
                    opacity: 1;
                }
            }

            .av-slider-image {
                flex: 1 0 auto;
                overflow: hidden;
                
                @media (min-width:$media-2) {
                    flex: 1 0 500px;
                    max-width: 500px;
                    max-height: 250px;
                }
                @media (min-width:$media-3) {
                    flex: 1 0 460px;
                    max-width: 460px;
                }
                img {
                    width: 100%;
                }
                
            }
            .av-slider-text {
                padding: 4% 5%;
                color: $color-text;
                font-family: $regular-monts;
                display: flex;
                flex-direction: column;
                background-color: $color-dark-10;
                flex: 1;

                span {
                    flex-grow: 1;
                }
                .av-slider-title{
                    font-size: 2rem;
                    margin-bottom: 0.6rem;
                    text-align: left;
                    padding: 0;
                }
                p{
                    max-height: 50%;
                    overflow: hidden;
                    text-align: left;
                    font-size: 1.4rem;
                }
                .av-slider-link {
                    text-decoration: none;
                    color: $color-primary;
                    font-family: $semi-bold-monts;
                    text-transform: uppercase;
                    padding: 0;
                    display: block;
                    font-size: 1.5rem !important;
                    &:hover{
                        color: scale-color($color-primary, $lightness: 50%);
                    }
                }
            }
        }
    }
}