.av-slider{
    box-sizing: border-box;
    width: 100%;
    position: relative;
    .av-slider-control {
        position: absolute;
        top: 0;
        height: 100%;
        width: 200px;
        z-index: 10;
        border: none;
        background-color: transparent;
        color: $color-text;
        display: none;
        font-size: 6rem;
        cursor: pointer;
        &:active{
            background-color: $color-dark-10;
        }
        &:focus{
            outline: none;
            border: none;
        }
        &:first-child {
            left: 0;
        }
        &:last-child {
            right: 0;
        }
        @media (min-width:$media-1){
            display: block;
        }
    }
    .av-slider-content {
        box-sizing: border-box;
        margin: 0;
        width: 100%;
        overflow: hidden;
        z-index: 0;
        display: flex;
        position: relative;

        .av-slider-item {
            opacity: 0;
            display: none;
            min-width: 100%;
            
            &.active {
                opacity: 1;
                display: flex;
            }
        }
        &.slide {
            .av-slider-item {
                z-index: 1;
            }
            .lastOne {
                z-index: 2;
                display: flex;
                opacity: 1;
            }
            .active {
                z-index: 3;
                position: absolute;
                animation-name: slideInwards;
                animation-duration: 5.5s;
                animation-fill-mode: forwards;
            }
        }
        @keyframes slideInwards {
            0%{
                opacity: 0;
                transform: translateX(1200px);
                display: flex;
            }
            5%{
                opacity: 1;
            }
            15% {
                transform: translateX(0);
            }
            100%{
                opacity: 1;
                
            }
        }
    }
}