
%titles {
    color: $color-text;
    text-align: left;
    margin: 0px;
    display: block;
    padding: 0;
    font-style: normal;
}
@mixin negative($align:center) {
    &.negative {
        color: $color-white;
        text-align: $align;
        fill: $color-white;
        @media (min-width:$media-1) {
            text-align: left;
        }
        [class^='material-icons'] {
            color: $color-white;
        }
    }
}
@mixin titleRegular() {
    @extend %titles;
    font-family: $regular-monts;
    font-size: 24px;
}
@mixin subtitle($size: 25px,$align:center, $marginBottom:0px) {
    @extend %titles;
    font-family: $bold-monts;
    font-weight: 300;
    text-align: $align;
    font-size: $size - 1;
    margin-bottom: $marginBottom;

    @media (min-width:$media-1){
        font-size: $size;
    }
    &.left {
        text-align: left;
    }
}
@mixin title {
    @extend %titles;
    font-family: $light-monts;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 30px;
    line-height: 36px;
    b {
        font-weight: normal !important;
    }
    @include negative;
}
@mixin highlight() {
    .av-highlight {
        font-family: $bold-monts;
    }
}

@mixin text-mixin($font:$regular-monts){
    color: $color-text;
    font-family: $font;
    font-size: 17px;
    line-height: 19px;
    margin-bottom: $size-text - 2;
    text-align: left;
    @media (min-width:$media-1) {
        margin-bottom: $size-text;
    }
}
@mixin modal-title {
    @extend %titles;
    font-family: $bold-monts;
    line-height: 34px;
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
}

@mixin text-system($font:$regular-monts){
    color: $color-text;
    font-family: $font;
    font-size: 16px;
    line-height: 19px;
}

@mixin salePrice{
    font-size: 22px;
    font-family: $bold-monts !important;
    color:$color-secondary !important;
}
.text-uppercase {
    text-transform: uppercase;
}
.av-sale-price {
    @include salePrice;
}



.av-subtitle {
    @include subtitle(24px,left,0px);
    @include negative();
    &-support {
        @include subtitle(30px);
        @include negative();
    }
}
.av-title {
    @include title;
}
.av-title-regular {
    @include titleRegular;
}

.av-text{
    @include text-mixin();

    @include negative;
    
    @include highlight();
    
    &.av-text-small {
        font-size: $size-text - 2;
        line-height: 20px;
        p {
            margin-bottom: $size-text;
        }
    }
    &.av-text-large {
        font-size: $size-text + 5;
        line-height: 25px;
    }

    &:last-child{
        margin-bottom: $margin-none;
    }
}
.av-pink {
    color: $color-primary;
}


.av-hashtag {
    font-family: $light-zona;
    margin: 1rem 0;
    color: $color-text;
    font-size: $size-text + 2;
}

// LISTS
%av-list {
    font-family: $regular-monts;
    line-height: 19px;
    font-size: 17px;
    color: $color-text;
    text-align: justify;
    @include highlight();
    @media (min-width:$media-2) {
        padding-left: 50px;
    }
    li {
        display: list-item;
        margin: 10px 0px;
    }
}

.av-list {
    font-family: $regular-monts;
    padding-left: $size-text;
    line-height: 19px;
    font-size: 17px;
    color: $color-text;
    list-style-type: disc;
    @include highlight();
    
    li {
        margin-bottom: $size-text / 2.5;
        display: block;
    }
    &.av-list-small {
        line-height: 21px;
        font-size: 16px;
        li {
            display: flex;
            align-items: center;
        }
    }
    
    &.av-list-item {
        padding-left: 0;
        @include negative();
        li {
            padding: 0 0.5rem;
            border-bottom: 1px $color-dark-lighter solid;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0;

            [class^='material-icons'] {
                color: $color-primary;
            }
            &:hover:not(.av-list-divider) {
                background-color: $color-dark-10;
            }
            .av-list-spacer{
                flex: 1;
            }
        }
        &.noactive{
            display: none;
        }   
    }
    
    .av-list-title {
        font-size: $size-text;
        font-family: $bold-monts;
        padding: ($size-text * 2) 0rem $size-text 0rem !important;
        color: $color-text;
        display: block;
        &:hover{
            background-color: unset !important;
        }
    }
    &.av-footer-list {
        list-style-type: none;
        text-align: left;
        li a {
            color: $color-white;
        }
        .av-list-title {
            color: $color-white;
        }
    }
}

.av-list-disc {
    @extend %av-list;
    list-style-type: disc;
}
.av-list-upper-latin {
    @extend %av-list;
    list-style-type: upper-latin;
}
.av-list-decimal {
    @extend %av-list;
    list-style-type: decimal;
}


