
// Media Master configuration
$media-0: 576px;
$media-1: 768px;
$media-2: 992px;
$media-3: 1024px;
$media-4: 1200px;
$media-5: 1400px;
$media-6: 1480px;

// Margin Variables Master

$initial-unit: 20px;

$margin-lg: 50px - $initial-unit;
$margin-md: 40px - $initial-unit;
$margin-sm: 30px - $initial-unit;
$margin-default: $initial-unit;
$margin-none: 0rem;

// Text Size Master

$line-height: 26px;
$size-text: 20px;


// Av-pair text
$card-padding: 7rem;